
       
      
    <div
      enableLazyloadImage="true" parentTag="Col" id="gBvCvfSwFD" data-id="gBvCvfSwFD"
        style="--bs:dashed;--bw:2px 2px 2px 2px;--bc:#F0E5D7;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--bblr:15px;--bbrr:15px;--btlr:15px;--btrr:15px;--mt:30px;--pt:30px;--pl:30px;--pb:20px;--pr:30px;--mt-mobile:14px;--pt-mobile:20px;--pl-mobile:15px;--pb-mobile:10px;--pr-mobile:15px;--cg:22px;--pc:start;--gtc:minmax(0, 12fr);--gtc-mobile:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:#FFF6EA;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gBvCvfSwFD row-light-dotted gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      enableLazyloadImage="true" label="Block" tag="Col" type="component"
      style="--jc:center"
      class="gikAaV15k9 gp-relative gp-flex gp-flex-col"
    >
      
  
    <div
      
      style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--mb:0px;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--ta:left"
      data-keep-class="true"
      class="gQMMIe2c8o custom-user user-small"
    ><div><div class="col-user col-multi">
	<div class="icon-user user-bigger">
		<img src="https://cdn.shopify.com/s/files/1/0824/1882/7590/files/review-image.png">
	</div>
	<div class="user-names user-multi">
	    <h6>“10/10 recommend!”</h6>
		<p><span><img src="https://cdn.shopify.com/s/files/1/0824/1882/7590/files/usa.png"></span> Nancy A. <span><img src="https://cdn.shopify.com/s/files/1/0824/1882/7590/files/5_star.png?v=1732687824"></span></p>
	</div>
</div></div></div>
  
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="gMq9dRi6i5">
    <div
      enableLazyloadImage="true" parentTag="Col"
        class="gMq9dRi6i5 mulit-para"
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pt:0px"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-g-paragraph-1 gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--size:20px;--size-tablet:16px;--size-mobile:16px;--c:rgb(2, 2, 2);word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggMq9dRi6i5_text | replace: '$locationOrigin', locationOrigin }}</div>
      </div>
    </div>
    </gp-text>
    
    </div>
    </div>
   
    