
  <gp-button >
  <div
    style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--mt:15px;--pt:0px;--pl:0px;--pb:20px;--pr:0px;--ta:left"
    class="btn-land-last"
  >
    <style>
    .gxFI23H7Zu.gp-button-base::before {
      content: "";
      height: 100%;
      width: 100%;
      position: absolute;
      pointer-events: none;
      border-style: none;
  border-width: 1px 1px 1px 1px;
  
  
      
      border-bottom-left-radius: 40px;
      border-bottom-right-radius: 40px;
      border-top-left-radius: 40px;
      border-top-right-radius: 40px;
      
    }

    .gxFI23H7Zu:hover::before {
      
      
    }

    .gxFI23H7Zu:hover .gp-button-icon {
      color: #FFFFFF;
    }

     .gxFI23H7Zu .gp-button-icon {
      color: #000000;
    }

    .gxFI23H7Zu:hover .gp-button-price {
      color: #FFFFFF;
    }

    .gxFI23H7Zu .gp-button-price {
      color: #000000;
    }

    .gxFI23H7Zu .gp-product-dot-price {
       color: #000000;
    }

    .gxFI23H7Zu:hover .gp-product-dot-price {
      color: #FFFFFF;
    }
  </style>
    <button
      type="button" data-id="gxFI23H7Zu" aria-label="<p>&nbsp;</p><p>Click Here To Get Everdries Leakproof Underwear For 50% OFF!&nbsp;</p>"
      
      data-state="idle"
      class="gxFI23H7Zu gp-button-base gp-rounded-none gp-max-w-full gp-relative gp-group gp-inline-flex gp-items-center gp-justify-center gp-no-underline gp-transition-colors gp-duration-300 disabled:gp-btn-disabled disabled:gp-opacity-30 disabled:gp-pointer-events-none gp-g-paragraph-1"
      style="--hvr-bg:#000000;--bg:#F6CBB7;--bblr:40px;--bbrr:40px;--btlr:40px;--btrr:40px;--shadow:none;--w:100%;--w-tablet:100%;--w-mobile:100%;--h:Auto;--h-tablet:Auto;--h-mobile:Auto;--pl:24px;--pr:24px;--pt:8px;--pb:8px;--hvr-c:#FFFFFF;--c:#000000;--size:18px;--size-tablet:16px;--size-mobile:15px;--weight:bold"
    >
      
    <div
    class="gp-inline-flex gp-flex-row-reverse">
    
      <span
        data-gp-text
        class="gp-button-text-only gp-break-words group-data-[state=loading]:gp-invisible [&_p]:gp-whitespace-pre-line gp-z-1 gp-h-full gp-flex gp-items-center gp-overflow-hidden 
        "
        style="--size:18px;--size-tablet:16px;--size-mobile:15px"
      >
        {{ section.settings.ggxFI23H7Zu_label }}
      </span>
      </div>
    
    </button>
  </div>
  </gp-button>
