<style type="text/css">
  .template-404 .title + * {
    margin-top: 1rem;
  }
.template-404 .title:first-child{
  font-size:64px;
}
  .template-404 .title:last-child{
  font-size:32px;
}
  @media screen and (min-width: 750px) {
    .template-404 .title + * {
      margin-top: 2rem;
    }
  }
  #shopify-section-sections--24875528061254__header,#shopify-section-template--24875517673798__newsletter,#shopify-section-sections--24875528028486__footer,#gT7IuXB8rR{
    display:none !important;
  }
</style>

<div class="template-404 page-width page-margin center">
 <h1 class="title">
   404
  </h1>
  <h3 class="title">
    This page no longer exists
  </h3>
 
</div>
