

<style {% if section.settings.section_preload == "false" %} class="gps-link gps-style" type="text/disabled-css" {% endif %}>.gps-533239492522279943.gps.gpsil [style*="--bg:"]{background:var(--bg)}.gps-533239492522279943.gps.gpsil [style*="--bgc:"]{background-color:var(--bgc)}.gps-533239492522279943.gps.gpsil [style*="--b:"]{border:var(--b)}.gps-533239492522279943.gps.gpsil [style*="--bc:"]{border-color:var(--bc)}.gps-533239492522279943.gps.gpsil [style*="--bs:"]{border-style:var(--bs)}.gps-533239492522279943.gps.gpsil [style*="--bw:"]{border-width:var(--bw)}.gps-533239492522279943.gps.gpsil [style*="--shadow:"]{box-shadow:var(--shadow)}.gps-533239492522279943.gps.gpsil [style*="--c:"]{color:var(--c)}.gps-533239492522279943.gps.gpsil [style*="--h:"]{height:var(--h)}.gps-533239492522279943.gps.gpsil [style*="--m:"]{margin:var(--m)}.gps-533239492522279943.gps.gpsil [style*="--maxh:"]{max-height:var(--maxh)}.gps-533239492522279943.gps.gpsil [style*="--minh:"]{min-height:var(--minh)}.gps-533239492522279943.gps.gpsil [style*="--op:"]{opacity:var(--op)}.gps-533239492522279943.gps.gpsil [style*="--o:"]{order:var(--o)}.gps-533239492522279943.gps.gpsil [style*="--p:"]{padding:var(--p)}.gps-533239492522279943.gps.gpsil [style*="--pb:"]{padding-bottom:var(--pb)}.gps-533239492522279943.gps.gpsil [style*="--pl:"]{padding-left:var(--pl)}.gps-533239492522279943.gps.gpsil [style*="--pr:"]{padding-right:var(--pr)}.gps-533239492522279943.gps.gpsil [style*="--pt:"]{padding-top:var(--pt)}.gps-533239492522279943.gps.gpsil [style*="--w:"]{width:var(--w)}@media only screen and (max-width:1023px){.gps-533239492522279943.gps.gpsil [style*="--h-tablet:"]{height:var(--h-tablet)}.gps-533239492522279943.gps.gpsil [style*="--maxh-tablet:"]{max-height:var(--maxh-tablet)}.gps-533239492522279943.gps.gpsil [style*="--w-tablet:"]{width:var(--w-tablet)}}@media only screen and (max-width:767px){.gps-533239492522279943.gps.gpsil [style*="--h-mobile:"]{height:var(--h-mobile)}.gps-533239492522279943.gps.gpsil [style*="--maxh-mobile:"]{max-height:var(--maxh-mobile)}.gps-533239492522279943.gps.gpsil [style*="--w-mobile:"]{width:var(--w-mobile)}}.gps-533239492522279943 .focus-visible\:gp-shadow-none,.gps-533239492522279943 .gp-shadow-xl{--tw-ring-offset-shadow:0 0 #0000;--tw-ring-shadow:0 0 #0000;--tw-shadow:0 0 #0000;--tw-shadow-colored:0 0 #0000}.gps-533239492522279943 .gp-fixed{position:fixed}.gps-533239492522279943 .gp-absolute{position:absolute}.gps-533239492522279943 .gp-relative{position:relative}.gps-533239492522279943 .gp-inset-0{inset:0}.gps-533239492522279943 .gp-right-0{right:0}.gps-533239492522279943 .gp-top-0{top:0}.gps-533239492522279943 .gp-z-50{z-index:50}.gps-533239492522279943 .gp-z-\[999999\]{z-index:999999}.gps-533239492522279943 .gp-block{display:block}.gps-533239492522279943 .gp-inline-block{display:inline-block}.gps-533239492522279943 .gp-flex{display:flex}.gps-533239492522279943 .gp-inline-flex{display:inline-flex}.gps-533239492522279943 .\!gp-hidden{display:none!important}.gps-533239492522279943 .gp-hidden{display:none}.gps-533239492522279943 .gp-h-full{height:100%}.gps-533239492522279943 .gp-h-screen{height:100vh}.gps-533239492522279943 .gp-max-h-\[calc\(100vh_-_192px\)\]{max-height:calc(100vh - 192px)}.gps-533239492522279943 .gp-max-h-full{max-height:100%}.gps-533239492522279943 .gp-w-full{width:100%}.gps-533239492522279943 .gp-max-w-full{max-width:100%}@keyframes gp-fadeIn{0%{opacity:0}to{opacity:1}}.gps-533239492522279943 .gp-animate-\[fadeIn_0\.4s_ease-in\]{animation:gp-fadeIn .4s ease-in}.gps-533239492522279943 .gp-items-center{align-items:center}.gps-533239492522279943 .gp-justify-center{justify-content:center}.gps-533239492522279943 .gp-overflow-hidden{overflow:hidden}.gps-533239492522279943 .gp-overflow-y-auto{overflow-y:auto}.gps-533239492522279943 .gp-overflow-x-hidden{overflow-x:hidden}.gps-533239492522279943 .gp-bg-transparent{background-color:transparent}.gps-533239492522279943 .gp-align-middle{vertical-align:middle}.gps-533239492522279943 .gp-shadow-xl{--tw-shadow:0 20px 25px -5px rgba(0,0,0,.1),0 8px 10px -6px rgba(0,0,0,.1);--tw-shadow-colored:0 20px 25px -5px var(--tw-shadow-color),0 8px 10px -6px var(--tw-shadow-color);box-shadow:var(--tw-ring-offset-shadow,0 0 #0000),var(--tw-ring-shadow,0 0 #0000),var(--tw-shadow)}.gps-533239492522279943 .gp-outline-none{outline:2px solid transparent;outline-offset:2px}.gps-533239492522279943 .gp-transition-all{transition-duration:.15s;transition-property:all;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-533239492522279943 .gp-duration-100{transition-duration:.1s}.gps-533239492522279943 .focus-visible\:gp-shadow-none:focus-visible{--tw-shadow:0 0 #0000;--tw-shadow-colored:0 0 #0000;box-shadow:var(--tw-ring-offset-shadow,0 0 #0000),var(--tw-ring-shadow,0 0 #0000),var(--tw-shadow)}.gps-533239492522279943 .focus-visible\:gp-outline-none:focus-visible{outline:2px solid transparent;outline-offset:2px}@media (max-width:1023px){.gps-533239492522279943 .tablet\:\!gp-hidden{display:none!important}.gps-533239492522279943 .tablet\:gp-hidden{display:none}}@media (max-width:767px){.gps-533239492522279943 .mobile\:\!gp-hidden{display:none!important}.gps-533239492522279943 .mobile\:gp-hidden{display:none}}</style>

    <gp-dialog class="gps-lazy" data-id="g_P7jrZCdf" style="--d:contents;--d-tablet:contents;--d-mobile:contents" data-gp-setting='{"dialogId":"g_P7jrZCdf","trigger":"none","triggerTime":10,"frequency":3,"triggerPercentage":10,"mobileTrigger":"none","mobileTriggerTime":10,"closeOnClickOutside":true,"frequencyMode":"once","display":{"desktop":true,"tablet":true,"mobile":true}}'>
      <dialog class="gp-z-[999999]  gp-dialog gp-bg-transparent" aria-label="Popup 1" data-gp-dialog-id="g_P7jrZCdf">
        <div
          aria-label="Backdrop"
          class="gp-fixed gp-inset-0 gp-z-50 gp-flex gp-overflow-y-auto gp-overflow-x-hidden gp-items-center gp-justify-center"
        >
        
            <div
              class="gp-fixed gp-inset-0 gp-block gp-transition-all gp-duration-100"
              data-gp-dialog-overlay
              style="--op:0.7;--bgc:#121212"
            ></div>
        
          <span class="gp-inline-block gp-h-screen gp-align-middle"></span>
          <div
            role="dialog"
            aria-label="Dialog content"
            class="gp-relative gp-max-h-full gp-max-w-full  gp-overflow-hidden gp-animate-[fadeIn_0.4s_ease-in] gp-shadow-xl"
            style="--bw:1px 1px 1px 1px;--bc:#121212;--w:600px;--w-tablet:600px;--w-mobile:100%;--minh:300px;--h-tablet:300px;--h-mobile:300px;--maxh:;--maxh-tablet:;--maxh-mobile:"
          >
            <button
              type="button"
              data-gp-dialog-close
              tabindex="-1"
              class="gp-absolute gp-top-0 gp-right-0 gp-z-[999999] gp-inline-flex gp-items-center gp-justify-center gp-outline-none focus-visible:gp-shadow-none focus-visible:gp-outline-none"
              style="--w:32px;--h:32px;--c:var(--g-c-line-3, line-3);--bgc:#ffffff"
            >
              <svg
                viewBox="0 0 12 12"
                fill="currentColor"
                style="--w:12px;--h:12px"
              >
                <path d="M7.1,6l4.5,4.5l-1.1,1.1L6,7.1l-4.5,4.5l-1.1-1.1L4.9,6L0.5,1.5l1.1-1.1L6,4.9l4.5-4.5l1.1,1.1L7.1,6z"></path>
              </svg>
            </button>
            <div
              style="--pt:var(--g-s-2xl);--pl:var(--g-s-2xl);--pb:var(--g-s-2xl);--pr:var(--g-s-2xl);--bs:none;--border:[object Object];--rounded:[object Object];--hasBoxShadow:[object Object];--shadow:none;--boxShadow:[object Object];--op:100%;--minh:300px;--h-tablet:300px;--h-mobile:300px;--maxh:;--maxh-tablet:;--maxh-mobile:;--bgc:#FFFFFF"
              aria-label="Dialog body"
              class="gp-h-full gp-w-full gp-overflow-y-auto gp-overflow-x-hidden gp-max-h-[calc(100vh_-_192px)]">
                <div>
                  
                </div>
            </div>
          </div>
        </div>
      </dialog>
    </gp-dialog>
    <script src="https://d2ls1pfffhvy22.cloudfront.net/assets-v2/gp-dialog.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
  


{% schema %}
  {
    
    "name": "Section 9",
    "tag": "section",
    "class": "gps-533239492522279943 gps gpsil",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/39c3e2-72/apps/gempages-cro/app/shopify/edit?pageType=GP_STATIC&editorId=532756403794740025&sectionId=533239492522279943)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"false"},{"type":"text","label":"Checksum","id":"checksum"}],
    "blocks": [{"type": "@app"}],
    "locales": {}
  }
{% endschema %}
