
    
    <style {% if section.settings.section_preload == "false" %} class="gps-link gps-style" type="text/disabled-css" {% endif %}>.gps-586463905501413906.gps.gpsil [style*="--ai:"]{align-items:var(--ai)}.gps-586463905501413906.gps.gpsil [style*="--bg:"]{background:var(--bg)}.gps-586463905501413906.gps.gpsil [style*="--bga:"]{background-attachment:var(--bga)}.gps-586463905501413906.gps.gpsil [style*="--bgc:"]{background-color:var(--bgc)}.gps-586463905501413906.gps.gpsil [style*="--bgi:"]{background-image:var(--bgi)}.gps-586463905501413906.gps.gpsil [style*="--bgp:"]{background-position:var(--bgp)}.gps-586463905501413906.gps.gpsil [style*="--bgr:"]{background-repeat:var(--bgr)}.gps-586463905501413906.gps.gpsil [style*="--bgs:"]{background-size:var(--bgs)}.gps-586463905501413906.gps.gpsil [style*="--b:"]{border:var(--b)}.gps-586463905501413906.gps.gpsil [style*="--bb:"]{border-bottom:var(--bb)}.gps-586463905501413906.gps.gpsil [style*="--bc:"]{border-color:var(--bc)}.gps-586463905501413906.gps.gpsil [style*="--bblr:"]{border-bottom-left-radius:var(--bblr)}.gps-586463905501413906.gps.gpsil [style*="--bbrr:"]{border-bottom-right-radius:var(--bbrr)}.gps-586463905501413906.gps.gpsil [style*="--bl:"]{border-left:var(--bl)}.gps-586463905501413906.gps.gpsil [style*="--bs:"]{border-style:var(--bs)}.gps-586463905501413906.gps.gpsil [style*="--bt:"]{border-top:var(--bt)}.gps-586463905501413906.gps.gpsil [style*="--btlr:"]{border-top-left-radius:var(--btlr)}.gps-586463905501413906.gps.gpsil [style*="--btrr:"]{border-top-right-radius:var(--btrr)}.gps-586463905501413906.gps.gpsil [style*="--bw:"]{border-width:var(--bw)}.gps-586463905501413906.gps.gpsil [style*="--shadow:"]{box-shadow:var(--shadow)}.gps-586463905501413906.gps.gpsil [style*="--c:"]{color:var(--c)}.gps-586463905501413906.gps.gpsil [style*="--cg:"]{-moz-column-gap:var(--cg);column-gap:var(--cg)}.gps-586463905501413906.gps.gpsil [style*="--ff:"]{font-family:var(--ff)}.gps-586463905501413906.gps.gpsil [style*="--size:"]{font-size:var(--size)}.gps-586463905501413906.gps.gpsil [style*="--weight:"]{font-weight:var(--weight)}.gps-586463905501413906.gps.gpsil [style*="--fs:"]{font-style:var(--fs)}.gps-586463905501413906.gps.gpsil [style*="--gtc:"]{grid-template-columns:var(--gtc)}.gps-586463905501413906.gps.gpsil [style*="--h:"]{height:var(--h)}.gps-586463905501413906.gps.gpsil [style*="--jc:"]{justify-content:var(--jc)}.gps-586463905501413906.gps.gpsil [style*="--ls:"]{letter-spacing:var(--ls)}.gps-586463905501413906.gps.gpsil [style*="--lh:"]{line-height:var(--lh)}.gps-586463905501413906.gps.gpsil [style*="--tdt:"]{text-decoration-thickness:var(--tdt)}.gps-586463905501413906.gps.gpsil [style*="--tdl:"]{text-decoration-line:var(--tdl)}.gps-586463905501413906.gps.gpsil [style*="--m:"]{margin:var(--m)}.gps-586463905501413906.gps.gpsil [style*="--mb:"]{margin-bottom:var(--mb)}.gps-586463905501413906.gps.gpsil [style*="--minw:"]{min-width:var(--minw)}.gps-586463905501413906.gps.gpsil [style*="--op:"]{opacity:var(--op)}.gps-586463905501413906.gps.gpsil [style*="--o:"]{order:var(--o)}.gps-586463905501413906.gps.gpsil [style*="--pc:"]{place-content:var(--pc)}.gps-586463905501413906.gps.gpsil [style*="--p:"]{padding:var(--p)}.gps-586463905501413906.gps.gpsil [style*="--pb:"]{padding-bottom:var(--pb)}.gps-586463905501413906.gps.gpsil [style*="--pl:"]{padding-left:var(--pl)}.gps-586463905501413906.gps.gpsil [style*="--pr:"]{padding-right:var(--pr)}.gps-586463905501413906.gps.gpsil [style*="--pt:"]{padding-top:var(--pt)}.gps-586463905501413906.gps.gpsil [style*="--rg:"]{row-gap:var(--rg)}.gps-586463905501413906.gps.gpsil [style*="--ta:"]{text-align:var(--ta)}.gps-586463905501413906.gps.gpsil [style*="--ts:"]{text-shadow:var(--ts)}.gps-586463905501413906.gps.gpsil [style*="--tt:"]{text-transform:var(--tt)}.gps-586463905501413906.gps.gpsil [style*="--t:"]{transform:var(--t)}.gps-586463905501413906.gps.gpsil [style*="--w:"]{width:var(--w)}.gps-586463905501413906.gps.gpsil [style*="--line-clamp:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp);display:-webkit-box;overflow:hidden}@media only screen and (max-width:1024px){.gps-586463905501413906.gps.gpsil [style*="--size-tablet:"]{font-size:var(--size-tablet)}.gps-586463905501413906.gps.gpsil [style*="--h-tablet:"]{height:var(--h-tablet)}.gps-586463905501413906.gps.gpsil [style*="--lh-tablet:"]{line-height:var(--lh-tablet)}.gps-586463905501413906.gps.gpsil [style*="--mb-tablet:"]{margin-bottom:var(--mb-tablet)}.gps-586463905501413906.gps.gpsil [style*="--minw-tablet:"]{min-width:var(--minw-tablet)}.gps-586463905501413906.gps.gpsil [style*="--pb-tablet:"]{padding-bottom:var(--pb-tablet)}.gps-586463905501413906.gps.gpsil [style*="--pl-tablet:"]{padding-left:var(--pl-tablet)}.gps-586463905501413906.gps.gpsil [style*="--pr-tablet:"]{padding-right:var(--pr-tablet)}.gps-586463905501413906.gps.gpsil [style*="--pt-tablet:"]{padding-top:var(--pt-tablet)}.gps-586463905501413906.gps.gpsil [style*="--rg-tablet:"]{row-gap:var(--rg-tablet)}.gps-586463905501413906.gps.gpsil [style*="--ta-tablet:"]{text-align:var(--ta-tablet)}.gps-586463905501413906.gps.gpsil [style*="--w-tablet:"]{width:var(--w-tablet)}.gps-586463905501413906.gps.gpsil [style*="--line-clamp-tablet:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-tablet);display:-webkit-box;overflow:hidden}}@media only screen and (max-width:767px){.gps-586463905501413906.gps.gpsil [style*="--cg-mobile:"]{-moz-column-gap:var(--cg-mobile);column-gap:var(--cg-mobile)}.gps-586463905501413906.gps.gpsil [style*="--size-mobile:"]{font-size:var(--size-mobile)}.gps-586463905501413906.gps.gpsil [style*="--gtc-mobile:"]{grid-template-columns:var(--gtc-mobile)}.gps-586463905501413906.gps.gpsil [style*="--h-mobile:"]{height:var(--h-mobile)}.gps-586463905501413906.gps.gpsil [style*="--lh-mobile:"]{line-height:var(--lh-mobile)}.gps-586463905501413906.gps.gpsil [style*="--mb-mobile:"]{margin-bottom:var(--mb-mobile)}.gps-586463905501413906.gps.gpsil [style*="--minw-mobile:"]{min-width:var(--minw-mobile)}.gps-586463905501413906.gps.gpsil [style*="--pb-mobile:"]{padding-bottom:var(--pb-mobile)}.gps-586463905501413906.gps.gpsil [style*="--pl-mobile:"]{padding-left:var(--pl-mobile)}.gps-586463905501413906.gps.gpsil [style*="--pr-mobile:"]{padding-right:var(--pr-mobile)}.gps-586463905501413906.gps.gpsil [style*="--pt-mobile:"]{padding-top:var(--pt-mobile)}.gps-586463905501413906.gps.gpsil [style*="--rg-mobile:"]{row-gap:var(--rg-mobile)}.gps-586463905501413906.gps.gpsil [style*="--ta-mobile:"]{text-align:var(--ta-mobile)}.gps-586463905501413906.gps.gpsil [style*="--w-mobile:"]{width:var(--w-mobile)}.gps-586463905501413906.gps.gpsil [style*="--line-clamp-mobile:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-mobile);display:-webkit-box;overflow:hidden}}.gps-586463905501413906 .gp-relative{position:relative}.gps-586463905501413906 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-586463905501413906 .gp-mb-0{margin-bottom:0}.gps-586463905501413906 .gp-flex{display:flex}.gps-586463905501413906 .gp-inline-flex{display:inline-flex}.gps-586463905501413906 .gp-grid{display:grid}.gps-586463905501413906 .\!gp-hidden{display:none!important}.gps-586463905501413906 .gp-hidden{display:none}.gps-586463905501413906 .gp-w-full{width:100%}.gps-586463905501413906 .gp-max-w-full{max-width:100%}.gps-586463905501413906 .gp-grid-rows-\[1fr\]{grid-template-rows:1fr}.gps-586463905501413906 .gp-flex-col{flex-direction:column}.gps-586463905501413906 .gp-flex-wrap{flex-wrap:wrap}.gps-586463905501413906 .gp-items-center{align-items:center}.gps-586463905501413906 .gp-justify-center{justify-content:center}.gps-586463905501413906 .gp-overflow-hidden{overflow:hidden}.gps-586463905501413906 .gp-leading-\[0\]{line-height:0}.gps-586463905501413906 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-586463905501413906 .gp-duration-200{transition-duration:.2s}.gps-586463905501413906 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}@media (max-width:1024px){.gps-586463905501413906 .tablet\:\!gp-hidden{display:none!important}.gps-586463905501413906 .tablet\:gp-hidden{display:none}}@media (max-width:767px){.gps-586463905501413906 .mobile\:\!gp-hidden{display:none!important}.gps-586463905501413906 .mobile\:gp-hidden{display:none}}.gps-586463905501413906 .\[\&\>svg\]\:\!gp-h-\[var\(--height-desktop\)\]>svg{height:var(--height-desktop)!important}.gps-586463905501413906 .\[\&\>svg\]\:\!gp-w-auto>svg{width:auto!important}@media (max-width:1024px){.gps-586463905501413906 .tablet\:\[\&\>svg\]\:\!gp-h-\[var\(--height-tablet\)\]>svg{height:var(--height-tablet)!important}}@media (max-width:767px){.gps-586463905501413906 .mobile\:\[\&\>svg\]\:\!gp-h-\[var\(--height-mobile\)\]>svg{height:var(--height-mobile)!important}}.gps-586463905501413906 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}</style>
    
    
    

    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}

    
        <section
          class="gp-mx-auto gp-max-w-full [&_*]:gp-max-w-full {% if section.settings.section_preload == "false" %}gps-lazy {% endif %}"
          style="--w:100%;--w-tablet:calc(var(--g-ct-w, 100%) + 2 * var(--g-ct-p, 15px));--w-mobile:calc(var(--g-ct-w, 100%) + 2 * var(--g-ct-p, 15px));--pl:none;--pl-tablet:none;--pl-mobile:none;--pr:none;--pr-tablet:none;--pr-mobile:none"
        >
          
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"#F9F5F0","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"preload":false,"repeat":"no-repeat","size":"cover","type":"color"}},"uid":"gLABHYhRBI"}' data-id="gLABHYhRBI" id="gLABHYhRBI" data-same-height-subgrid-container class="gLABHYhRBI gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--blockPadding:base;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--pt:113px;--pl:22px;--pb:0px;--pr:22px;--pt-mobile:47px;--pl-mobile:22px;--pb-mobile:0px;--pr-mobile:22px;--pt-tablet:113px;--pl-tablet:22px;--pb-tablet:0px;--pr-tablet:22px;--cg:16px;--rg:0px;--gtc:minmax(0, 12fr);--w:100%;--bgc:#F9F5F0;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="gfZEFfjISy gp-relative gp-flex gp-flex-col"
    >
      
    

    

    
    <gp-row gp-data='{"uid":"gipbXkif9i"}' data-id="gipbXkif9i" id="gipbXkif9i" data-same-height-subgrid-container class="gipbXkif9i gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:30px;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--mb-mobile:17px;--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px;--mb-tablet:30px;--pt-tablet:0px;--pl-tablet:0px;--pb-tablet:0px;--pr-tablet:0px;--cg:11px;--cg-mobile:6px;--rg:16px;--rg-tablet:16px;--rg-mobile:6px;--gtc:minmax(0, auto) minmax(0, auto);--gtc-mobile:minmax(0, auto) minmax(0, auto);--w:100%;--h:auto;--pc:center">
      

      <div
      data-same-height-display-contents
      style="--jc:center"
      class="gSUoge4pDe gp-relative gp-flex gp-flex-col"
    >
      
    
    <div data-id="g_AcUHpnSi"  style="--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll">
      <div class="gp-flex gp-flex-wrap" style="--cg:1px;--jc:left;--ai:start">
            <div gp-el-wrapper style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px" class="gl5gapL99C ">
      
    <div  class="gp-flex gp-w-full gp-flex-col gp-items-center">
      
    <div id="gkP6atgFC0" class="gp-leading-[0] gkP6atgFC0" style="--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ta:left">
      <div data-id="gkP6atgFC0" class="icon-wrapper gp-inline-flex gp-overflow-hidden gkP6atgFC0 " style="--shadow:none">
      
        <div >
          <span style="--c:transparent;--t:rotate(0deg);--w:23px;--w-tablet:23px;--w-mobile:17px;--h:23px;--h-tablet:23px;--h-mobile:17px;--minw:23px;--minw-tablet:23px;--minw-mobile:17px;--height-desktop:23px;--height-tablet:23px;--height-mobile:17px" class="gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--height-desktop)] [&>svg]:!gp-w-auto tablet:[&>svg]:!gp-h-[var(--height-tablet)] mobile:[&>svg]:!gp-h-[var(--height-mobile)] "><svg data-name="Star 1.svg" data-id="585637458616517568" width="20" height="20" xmlns="http://www.w3.org/2000/svg" width="22" height="21" viewBox="0 0 22 21" fill="none">
<path d="M10.5408 0.878177C10.6306 0.601783 11.0216 0.601783 11.1114 0.878177L13.4139 7.9644C13.454 8.088 13.5692 8.17169 13.6992 8.17169H21.1501C21.4407 8.17169 21.5615 8.54358 21.3264 8.7144L15.2985 13.0939C15.1934 13.1703 15.1494 13.3057 15.1895 13.4293L17.492 20.5156C17.5818 20.7919 17.2654 21.0218 17.0303 20.851L11.0024 16.4714C10.8973 16.395 10.7549 16.395 10.6498 16.4714L4.62186 20.851C4.38675 21.0218 4.0704 20.7919 4.16021 20.5156L6.46266 13.4293C6.50282 13.3057 6.45883 13.1703 6.35368 13.0939L0.32578 8.7144C0.0906662 8.54358 0.211499 8.17169 0.502116 8.17169H7.95301C8.08298 8.17169 8.19816 8.08801 8.23833 7.9644L10.5408 0.878177Z" fill="#432D2D"/>
</svg></span>
        </div>
      </div>
    </div>
    
    </div>
  
      </div><div gp-el-wrapper style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px" class="XFuFXjR0x8 ">
      
    <div  class="gp-flex gp-w-full gp-flex-col gp-items-center">
      
    <div id="ktNmjquvmG" class="gp-leading-[0] ktNmjquvmG" style="--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ta:left">
      <div data-id="ktNmjquvmG" class="icon-wrapper gp-inline-flex gp-overflow-hidden ktNmjquvmG " style="--shadow:none">
      
        <div >
          <span style="--c:transparent;--t:rotate(0deg);--w:23px;--w-tablet:23px;--w-mobile:17px;--h:23px;--h-tablet:23px;--h-mobile:17px;--minw:23px;--minw-tablet:23px;--minw-mobile:17px;--height-desktop:23px;--height-tablet:23px;--height-mobile:17px" class="gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--height-desktop)] [&>svg]:!gp-w-auto tablet:[&>svg]:!gp-h-[var(--height-tablet)] mobile:[&>svg]:!gp-h-[var(--height-mobile)] "><svg data-name="Star 1.svg" data-id="585637458616517568" width="20" height="20" xmlns="http://www.w3.org/2000/svg" width="22" height="21" viewBox="0 0 22 21" fill="none">
<path d="M10.5408 0.878177C10.6306 0.601783 11.0216 0.601783 11.1114 0.878177L13.4139 7.9644C13.454 8.088 13.5692 8.17169 13.6992 8.17169H21.1501C21.4407 8.17169 21.5615 8.54358 21.3264 8.7144L15.2985 13.0939C15.1934 13.1703 15.1494 13.3057 15.1895 13.4293L17.492 20.5156C17.5818 20.7919 17.2654 21.0218 17.0303 20.851L11.0024 16.4714C10.8973 16.395 10.7549 16.395 10.6498 16.4714L4.62186 20.851C4.38675 21.0218 4.0704 20.7919 4.16021 20.5156L6.46266 13.4293C6.50282 13.3057 6.45883 13.1703 6.35368 13.0939L0.32578 8.7144C0.0906662 8.54358 0.211499 8.17169 0.502116 8.17169H7.95301C8.08298 8.17169 8.19816 8.08801 8.23833 7.9644L10.5408 0.878177Z" fill="#432D2D"/>
</svg></span>
        </div>
      </div>
    </div>
    
    </div>
  
      </div><div gp-el-wrapper style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px" class="vS5XSUsWKm ">
      
    <div  class="gp-flex gp-w-full gp-flex-col gp-items-center">
      
    <div id="vR4uFrgN8A" class="gp-leading-[0] vR4uFrgN8A" style="--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ta:left">
      <div data-id="vR4uFrgN8A" class="icon-wrapper gp-inline-flex gp-overflow-hidden vR4uFrgN8A " style="--shadow:none">
      
        <div >
          <span style="--c:transparent;--t:rotate(0deg);--w:23px;--w-tablet:23px;--w-mobile:17px;--h:23px;--h-tablet:23px;--h-mobile:17px;--minw:23px;--minw-tablet:23px;--minw-mobile:17px;--height-desktop:23px;--height-tablet:23px;--height-mobile:17px" class="gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--height-desktop)] [&>svg]:!gp-w-auto tablet:[&>svg]:!gp-h-[var(--height-tablet)] mobile:[&>svg]:!gp-h-[var(--height-mobile)] "><svg data-name="Star 1.svg" data-id="585637458616517568" width="20" height="20" xmlns="http://www.w3.org/2000/svg" width="22" height="21" viewBox="0 0 22 21" fill="none">
<path d="M10.5408 0.878177C10.6306 0.601783 11.0216 0.601783 11.1114 0.878177L13.4139 7.9644C13.454 8.088 13.5692 8.17169 13.6992 8.17169H21.1501C21.4407 8.17169 21.5615 8.54358 21.3264 8.7144L15.2985 13.0939C15.1934 13.1703 15.1494 13.3057 15.1895 13.4293L17.492 20.5156C17.5818 20.7919 17.2654 21.0218 17.0303 20.851L11.0024 16.4714C10.8973 16.395 10.7549 16.395 10.6498 16.4714L4.62186 20.851C4.38675 21.0218 4.0704 20.7919 4.16021 20.5156L6.46266 13.4293C6.50282 13.3057 6.45883 13.1703 6.35368 13.0939L0.32578 8.7144C0.0906662 8.54358 0.211499 8.17169 0.502116 8.17169H7.95301C8.08298 8.17169 8.19816 8.08801 8.23833 7.9644L10.5408 0.878177Z" fill="#432D2D"/>
</svg></span>
        </div>
      </div>
    </div>
    
    </div>
  
      </div><div gp-el-wrapper style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px" class="G7ZYQ8j4JB ">
      
    <div  class="gp-flex gp-w-full gp-flex-col gp-items-center">
      
    <div id="d0n14G2Gyc" class="gp-leading-[0] d0n14G2Gyc" style="--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ta:left">
      <div data-id="d0n14G2Gyc" class="icon-wrapper gp-inline-flex gp-overflow-hidden d0n14G2Gyc " style="--shadow:none">
      
        <div >
          <span style="--c:transparent;--t:rotate(0deg);--w:23px;--w-tablet:23px;--w-mobile:17px;--h:23px;--h-tablet:23px;--h-mobile:17px;--minw:23px;--minw-tablet:23px;--minw-mobile:17px;--height-desktop:23px;--height-tablet:23px;--height-mobile:17px" class="gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--height-desktop)] [&>svg]:!gp-w-auto tablet:[&>svg]:!gp-h-[var(--height-tablet)] mobile:[&>svg]:!gp-h-[var(--height-mobile)] "><svg data-name="Star 1.svg" data-id="585637458616517568" width="20" height="20" xmlns="http://www.w3.org/2000/svg" width="22" height="21" viewBox="0 0 22 21" fill="none">
<path d="M10.5408 0.878177C10.6306 0.601783 11.0216 0.601783 11.1114 0.878177L13.4139 7.9644C13.454 8.088 13.5692 8.17169 13.6992 8.17169H21.1501C21.4407 8.17169 21.5615 8.54358 21.3264 8.7144L15.2985 13.0939C15.1934 13.1703 15.1494 13.3057 15.1895 13.4293L17.492 20.5156C17.5818 20.7919 17.2654 21.0218 17.0303 20.851L11.0024 16.4714C10.8973 16.395 10.7549 16.395 10.6498 16.4714L4.62186 20.851C4.38675 21.0218 4.0704 20.7919 4.16021 20.5156L6.46266 13.4293C6.50282 13.3057 6.45883 13.1703 6.35368 13.0939L0.32578 8.7144C0.0906662 8.54358 0.211499 8.17169 0.502116 8.17169H7.95301C8.08298 8.17169 8.19816 8.08801 8.23833 7.9644L10.5408 0.878177Z" fill="#432D2D"/>
</svg></span>
        </div>
      </div>
    </div>
    
    </div>
  
      </div><div gp-el-wrapper style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px" class="OVb3R_INab ">
      
    <div  class="gp-flex gp-w-full gp-flex-col gp-items-center">
      
    <div id="RSkUvjLlaA" class="gp-leading-[0] RSkUvjLlaA" style="--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ta:left">
      <div data-id="RSkUvjLlaA" class="icon-wrapper gp-inline-flex gp-overflow-hidden RSkUvjLlaA " style="--shadow:none">
      
        <div >
          <span style="--c:transparent;--t:rotate(0deg);--w:23px;--w-tablet:23px;--w-mobile:17px;--h:23px;--h-tablet:23px;--h-mobile:17px;--minw:23px;--minw-tablet:23px;--minw-mobile:17px;--height-desktop:23px;--height-tablet:23px;--height-mobile:17px" class="gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--height-desktop)] [&>svg]:!gp-w-auto tablet:[&>svg]:!gp-h-[var(--height-tablet)] mobile:[&>svg]:!gp-h-[var(--height-mobile)] "><svg data-name="Star 5.svg" data-id="585637470243127904" width="20" height="20" xmlns="http://www.w3.org/2000/svg" width="22" height="21" viewBox="0 0 22 21" fill="none">
<path d="M11.0314 0.924866C11.0763 0.786669 11.2716 0.786669 11.3165 0.924866L13.6193 8.0108C13.6795 8.19614 13.8521 8.32135 14.047 8.32135H21.4982C21.6432 8.32162 21.7034 8.50744 21.5861 8.59283L15.5577 12.9727C15.4003 13.0873 15.3345 13.2904 15.3947 13.4756L17.6974 20.5616C17.7423 20.6998 17.5835 20.815 17.4659 20.7296L11.4386 16.3497C11.2809 16.2352 11.067 16.2352 10.9093 16.3497L4.88196 20.7296C4.7644 20.815 4.60561 20.6998 4.65051 20.5616L6.95325 13.4756C7.01345 13.2903 6.94688 13.0873 6.78918 12.9727L0.761841 8.59283C0.644361 8.50745 0.704552 8.32149 0.849731 8.32135H8.3009C8.49578 8.3213 8.66838 8.19613 8.72864 8.0108L11.0314 0.924866Z" fill="url(#paint0_linear_64_1943)" stroke="#432D2D" stroke-width="0.3"/>
<defs>
<linearGradient id="paint0_linear_64_1943" x1="11.5103" y1="13.9518" x2="13.1517" y2="9.84834" gradientUnits="userSpaceOnUse">
<stop offset="0.454074" stop-color="#432D2D"/>
<stop offset="0.562824" stop-color="white"/>
</linearGradient>
</defs>
</svg></span>
        </div>
      </div>
    </div>
    
    </div>
  
      </div>
          </div>
    </div>
  
    </div><div
      data-same-height-display-contents
      style="--jc:center"
      class="gQJG_RAVk6 gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gI5UVWdpSt"
        class="gI5UVWdpSt"
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1759089827034"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--b:none;--bc:#121212;--bw:1px 1px 1px 1px;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--shadow:none;--ts:none;--ta:left;--ta-tablet:left;--ta-mobile:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-Quarion, 'Quarion'), var(--g-font-body, body);--weight:500;--ls:0px;--size:18px;--size-tablet:18px;--size-mobile:14px;--lh:100%;--lh-tablet:100%;--lh-mobile:100%;--c:#432D2D;--tt:none;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggI5UVWdpSt_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    </div>

      
    </gp-row>
  
  
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gDcV_a-BYg"
        class="gDcV_a-BYg"
        style="--ta:center;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:21px;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--mb-mobile:14px;--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px;--mb-tablet:21px;--pt-tablet:0px;--pl-tablet:0px;--pb-tablet:0px;--pr-tablet:0px;--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1759089827035"
      >
      <div class="gp-flex" style="--jc:center">
        <h2
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:526px;--w-tablet:526px;--w-mobile:301px;--tdt:auto;--b:none;--bc:#121212;--bw:1px 1px 1px 1px;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--shadow:none;--ts:none;--ta:center;--ta-tablet:center;--ta-mobile:center;--fs:normal;--ff:var(--g-font-Century-Old-Style-Std, 'Century Old Style Std'), var(--g-font-heading, heading);--weight:400;--ls:0px;--size:55px;--size-tablet:55px;--size-mobile:30px;--lh:127%;--lh-tablet:127%;--lh-mobile:116%;--c:#421B1B;--tt:capitalize;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggDcV_a-BYg_text | replace: '$locationOrigin', locationOrigin | downcase }}
        </h2>
      </div>
    </div>
    
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="glpqaahBHI"
        class="glpqaahBHI"
        style="--ta:center;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:40px;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--mb-mobile:32px;--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px;--mb-tablet:40px;--pt-tablet:0px;--pl-tablet:0px;--pb-tablet:0px;--pr-tablet:0px;--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1759089827037"
      >
      <div class="gp-flex" style="--jc:center">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:579px;--w-tablet:579px;--w-mobile:300px;--tdt:auto;--b:none;--bc:#121212;--bw:1px 1px 1px 1px;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--shadow:none;--ts:none;--ta:center;--ta-tablet:center;--ta-mobile:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-Quarion, 'Quarion'), var(--g-font-body, body);--weight:400;--ls:0px;--size:19px;--size-tablet:19px;--size-mobile:14px;--lh:142%;--lh-tablet:142%;--lh-mobile:150%;--c:#272727;--tt:none;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.gglpqaahBHI_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    </div>

      
    </gp-row>
  
        </section>
      
  
    
    
{% schema %}
  {
    
    "name": "Section 5",
    "tag": "section",
    "class": "gps-586463905501413906 gps gpsil",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/39c3e2-72/apps/gempages-cro/app/shopify/edit?pageType=GP_PRODUCT&editorId=586463905417527826&sectionId=586463905501413906)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"false"},{"type":"text","label":"Checksum","id":"checksum"},{"type":"html","id":"ggI5UVWdpSt_text","label":"ggI5UVWdpSt_text","default":"<p>5,210 Reviews</p>"},{"type":"html","id":"ggDcV_a-BYg_text","label":"ggDcV_a-BYg_text","default":"5,210+ Women have made the switch"},{"type":"html","id":"gglpqaahBHI_text","label":"gglpqaahBHI_text","default":"<p>Women just like you — tired of odor, infections, and daily discomfort - now feel fresh, confident, and protected in Olora.</p>"}],
    "blocks": [{"type": "@app"}],
    "locales": {}
  }
{% endschema %}
  