

<style {% if section.settings.section_preload == "false" %} class="gps-link gps-style" type="text/disabled-css" {% endif %}>.gps-542025466467451908.gps.gpsil [style*="--aspect:"]{aspect-ratio:var(--aspect)}.gps-542025466467451908.gps.gpsil [style*="--bg:"]{background:var(--bg)}.gps-542025466467451908.gps.gpsil [style*="--bga:"]{background-attachment:var(--bga)}.gps-542025466467451908.gps.gpsil [style*="--bgc:"]{background-color:var(--bgc)}.gps-542025466467451908.gps.gpsil [style*="--bgi:"]{background-image:var(--bgi)}.gps-542025466467451908.gps.gpsil [style*="--bgp:"]{background-position:var(--bgp)}.gps-542025466467451908.gps.gpsil [style*="--bgr:"]{background-repeat:var(--bgr)}.gps-542025466467451908.gps.gpsil [style*="--bgs:"]{background-size:var(--bgs)}.gps-542025466467451908.gps.gpsil [style*="--b:"]{border:var(--b)}.gps-542025466467451908.gps.gpsil [style*="--bc:"]{border-color:var(--bc)}.gps-542025466467451908.gps.gpsil [style*="--bl:"]{border-left:var(--bl)}.gps-542025466467451908.gps.gpsil [style*="--bs:"]{border-style:var(--bs)}.gps-542025466467451908.gps.gpsil [style*="--bw:"]{border-width:var(--bw)}.gps-542025466467451908.gps.gpsil [style*="--shadow:"]{box-shadow:var(--shadow)}.gps-542025466467451908.gps.gpsil [style*="--c:"]{color:var(--c)}.gps-542025466467451908.gps.gpsil [style*="--cg:"]{-moz-column-gap:var(--cg);column-gap:var(--cg)}.gps-542025466467451908.gps.gpsil [style*="--gtc:"]{grid-template-columns:var(--gtc)}.gps-542025466467451908.gps.gpsil [style*="--h:"]{height:var(--h)}.gps-542025466467451908.gps.gpsil [style*="--jc:"]{justify-content:var(--jc)}.gps-542025466467451908.gps.gpsil [style*="--m:"]{margin:var(--m)}.gps-542025466467451908.gps.gpsil [style*="--mb:"]{margin-bottom:var(--mb)}.gps-542025466467451908.gps.gpsil [style*="--objf:"]{-o-object-fit:var(--objf);object-fit:var(--objf)}.gps-542025466467451908.gps.gpsil [style*="--op:"]{opacity:var(--op)}.gps-542025466467451908.gps.gpsil [style*="--o:"]{order:var(--o)}.gps-542025466467451908.gps.gpsil [style*="--pc:"]{place-content:var(--pc)}.gps-542025466467451908.gps.gpsil [style*="--p:"]{padding:var(--p)}.gps-542025466467451908.gps.gpsil [style*="--pb:"]{padding-bottom:var(--pb)}.gps-542025466467451908.gps.gpsil [style*="--pl:"]{padding-left:var(--pl)}.gps-542025466467451908.gps.gpsil [style*="--pr:"]{padding-right:var(--pr)}.gps-542025466467451908.gps.gpsil [style*="--pt:"]{padding-top:var(--pt)}.gps-542025466467451908.gps.gpsil [style*="--ta:"]{text-align:var(--ta)}.gps-542025466467451908.gps.gpsil [style*="--t:"]{transform:var(--t)}.gps-542025466467451908.gps.gpsil [style*="--w:"]{width:var(--w)}@media only screen and (max-width:1023px){.gps-542025466467451908.gps.gpsil [style*="--aspect-tablet:"]{aspect-ratio:var(--aspect-tablet)}.gps-542025466467451908.gps.gpsil [style*="--h-tablet:"]{height:var(--h-tablet)}.gps-542025466467451908.gps.gpsil [style*="--pl-tablet:"]{padding-left:var(--pl-tablet)}.gps-542025466467451908.gps.gpsil [style*="--pr-tablet:"]{padding-right:var(--pr-tablet)}.gps-542025466467451908.gps.gpsil [style*="--ta-tablet:"]{text-align:var(--ta-tablet)}.gps-542025466467451908.gps.gpsil [style*="--w-tablet:"]{width:var(--w-tablet)}}@media only screen and (max-width:767px){.gps-542025466467451908.gps.gpsil [style*="--aspect-mobile:"]{aspect-ratio:var(--aspect-mobile)}.gps-542025466467451908.gps.gpsil [style*="--gtc-mobile:"]{grid-template-columns:var(--gtc-mobile)}.gps-542025466467451908.gps.gpsil [style*="--h-mobile:"]{height:var(--h-mobile)}.gps-542025466467451908.gps.gpsil [style*="--jc-mobile:"]{justify-content:var(--jc-mobile)}.gps-542025466467451908.gps.gpsil [style*="--pl-mobile:"]{padding-left:var(--pl-mobile)}.gps-542025466467451908.gps.gpsil [style*="--pr-mobile:"]{padding-right:var(--pr-mobile)}.gps-542025466467451908.gps.gpsil [style*="--ta-mobile:"]{text-align:var(--ta-mobile)}.gps-542025466467451908.gps.gpsil [style*="--w-mobile:"]{width:var(--w-mobile)}}.gps-542025466467451908 .gp-relative{position:relative}.gps-542025466467451908 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-542025466467451908 .gp-mb-0{margin-bottom:0}.gps-542025466467451908 .gp-flex{display:flex}.gps-542025466467451908 .gp-grid{display:grid}.gps-542025466467451908 .gp-contents{display:contents}.gps-542025466467451908 .\!gp-hidden{display:none!important}.gps-542025466467451908 .gp-hidden{display:none}.gps-542025466467451908 .gp-h-full{height:100%}.gps-542025466467451908 .gp-w-full{width:100%}.gps-542025466467451908 .gp-max-w-full{max-width:100%}.gps-542025466467451908 .gp-flex-col{flex-direction:column}.gps-542025466467451908 .gp-gap-y-0{row-gap:0}.gps-542025466467451908 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-542025466467451908 .gp-duration-200{transition-duration:.2s}.gps-542025466467451908 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}@media (max-width:1023px){.gps-542025466467451908 .tablet\:\!gp-hidden{display:none!important}.gps-542025466467451908 .tablet\:gp-hidden{display:none}}@media (max-width:767px){.gps-542025466467451908 .mobile\:\!gp-hidden{display:none!important}.gps-542025466467451908 .mobile\:gp-hidden{display:none}}.gps-542025466467451908 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}</style>

       
      
            <section
              class="gp-mx-auto gp-max-w-full {% if section.settings.section_preload == "false" %}gps-lazy {% endif %}"
              style="--w:100%;--w-tablet:100%;--w-mobile:100%;--pl:0px;--pl-tablet:0px;--pl-mobile:0px;--pr:0px;--pr-tablet:0px;--pr-mobile:0px"
            >
              
    <div
      enableLazyloadImage="true" id="gmGx0KgpY4" data-id="gmGx0KgpY4"
        style="--blockPadding:base;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pt:20px;--pb:6px;--cg:32px;--pc:start;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gmGx0KgpY4 col-header land-header gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      enableLazyloadImage="true" label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gZXUwNS1u_ gp-relative gp-flex gp-flex-col"
    >
      
       
      
    <div
      enableLazyloadImage="true" parentTag="Col" id="gctQkzrM_F" data-id="gctQkzrM_F"
        style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--mb:0px;--cg:8px;--pc:start;--gtc:minmax(0, 6fr) minmax(0, 6fr);--gtc-mobile:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gctQkzrM_F row-header gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      enableLazyloadImage="true" label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gmT4HZ7fEz gp-relative gp-flex gp-flex-col"
    >
      <div
    
     data-id="g6HXU1nmA_"
    role="presentation"
    class="gp-group/image g6HXU1nmA_ list-nav"
    style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--ta:left;--ta-mobile:center"
    >
      <div
        class="pointer-events-auto h-full gp-flex"
        
        class="gp-h-full gp-w-full"
        style="--shadow:none;border-radius:inherit;overflow:hidden;--jc:left;--jc-mobile:center"
      >
        
  <picture style="border-radius: inherit" class="gp-contents">
  
      <source media="(max-width: 767px)" data-srcSet="{{ "gempages_510135694635565882-437a1edb-d191-486c-936a-1c4853ad5780_768x.png" | file_url }}" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjUxIiBoZWlnaHQ9IjI1MSIgdmVyc2lvbj0iMS4xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIj4KICAgIDxkZWZzPgogICAgICA8bGluZWFyR3JhZGllbnQgaWQ9ImctMjUxLTI1MSI+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSIyMCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI1MCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI3MCUiIC8+CiAgICAgIDwvbGluZWFyR3JhZGllbnQ+CiAgICA8L2RlZnM+CiAgICA8cmVjdCB3aWR0aD0iMjUxIiBoZWlnaHQ9IjI1MSIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMjUxIiBoZWlnaHQ9IjI1MSIgZmlsbD0idXJsKCNnLTI1MS0yNTEpIiAvPgogICAgPGFuaW1hdGUgeGxpbms6aHJlZj0iI3IiIGF0dHJpYnV0ZU5hbWU9IngiIGZyb209Ii0yNTEiIHRvPSIyNTEiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" />
      <source media="(max-width: 1023px)" data-srcSet="{{ "gempages_510135694635565882-437a1edb-d191-486c-936a-1c4853ad5780_1024x.png" | file_url }}" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjUxIiBoZWlnaHQ9IjI1MSIgdmVyc2lvbj0iMS4xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIj4KICAgIDxkZWZzPgogICAgICA8bGluZWFyR3JhZGllbnQgaWQ9ImctMjUxLTI1MSI+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSIyMCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI1MCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI3MCUiIC8+CiAgICAgIDwvbGluZWFyR3JhZGllbnQ+CiAgICA8L2RlZnM+CiAgICA8cmVjdCB3aWR0aD0iMjUxIiBoZWlnaHQ9IjI1MSIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMjUxIiBoZWlnaHQ9IjI1MSIgZmlsbD0idXJsKCNnLTI1MS0yNTEpIiAvPgogICAgPGFuaW1hdGUgeGxpbms6aHJlZj0iI3IiIGF0dHJpYnV0ZU5hbWU9IngiIGZyb209Ii0yNTEiIHRvPSIyNTEiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" />
      <img
        
        class="gp-h-full gp-max-w-full gp-flex gp_lazyload"
        src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjUxIiBoZWlnaHQ9IjY0IiB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPgogICAgPGRlZnM+CiAgICAgIDxsaW5lYXJHcmFkaWVudCBpZD0iZy0yNTEtNjQiPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iMjAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNTAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNzAlIiAvPgogICAgICA8L2xpbmVhckdyYWRpZW50PgogICAgPC9kZWZzPgogICAgPHJlY3Qgd2lkdGg9IjI1MSIgaGVpZ2h0PSI2NCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMjUxIiBoZWlnaHQ9IjY0IiBmaWxsPSJ1cmwoI2ctMjUxLTY0KSIgLz4KICAgIDxhbmltYXRlIHhsaW5rOmhyZWY9IiNyIiBhdHRyaWJ1dGVOYW1lPSJ4IiBmcm9tPSItMjUxIiB0bz0iMjUxIiBkdXI9IjFzIiByZXBlYXRDb3VudD0iaW5kZWZpbml0ZSIgIC8+CiAgPC9zdmc+"
        data-src="{{ "gempages_510135694635565882-437a1edb-d191-486c-936a-1c4853ad5780.png" | file_url }}"
        width="100%"
        alt=""
        style="--aspect:auto;--aspect-tablet:auto;--aspect-mobile:auto;--objf:cover;--w:250px;--w-tablet:220px;--w-mobile:143px;--h:auto;--h-tablet:auto;--h-mobile:auto"
      />
    
  </picture>
      </div>
  </div>
    </div><div
      enableLazyloadImage="true" label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gsqWbf4EA_ gp-relative gp-flex gp-flex-col"
    >
      
  
    <div
      
      style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--ta:left;--ta-tablet:right"
      data-keep-class="true"
      class="gPW4eAomL_ nav-main"
    ><div><ul>
    <li><a href="#"><img src="https://cdn.shopify.com/s/files/1/0824/1882/7590/files/gempages_510135694635565882-827f6492-1d7c-4ced-9deb-169032533946.png"></a></li>
    <li><a href="#">Stories</a></li>
    <li><a href="#">What’s New</a></li>
    <li><a href="#">Health</a></li>
    <li><a href="#">Fitness</a></li>
</ul></div></div>
  
    </div>
    </div>
   
    
    </div>
    </div>
  
            </section>
           
    
      <style id="custom-css-gmGx0KgpY4">
        @import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
/*** Fonts End ***/

.nav-main ul {
    display: flex;
    align-items: center;
    gap: 35px;
    justify-content: end;
}
.nav-main ul li a {
    font-family: "Poppins", sans-serif;
    letter-spacing: 0;
    font-size: 16px;
    transition: 0.3s ease;
}
.nav-main ul li a:hover {
    opacity: 0.8;
    transition: 0.3s ease;
}
.row-header {
    align-items: center;
}
.col-header {
    padding: 16px 20px !important;
}
.user-names h4 {
    font-size: 16px;
    letter-spacing: 0;
    font-family: "Poppins", sans-serif;
}
.user-names h4 span {
    font-weight: 700;
}
.user-names p {
    font-size: 16px;
    letter-spacing: 0;
    font-family: "Poppins", sans-serif;
    line-height: 24px;
}
.col-user {
    display: flex;
    align-items: center;
    gap: 10px;
    margin: 0 0 22px;
}
.para-desc p {
    letter-spacing: 0;
}
.same-row {
    max-width: 1040px !important;
    padding: 0 20px;
}
.row-twiiter .g6MFwzhliM.gp-relative {
    background: #FFFFFF;
    box-shadow: 0px 0px 34px -7px rgba(0, 0, 0, 0.25);
    border-radius: 20px !important;
    overflow: hidden;
}
.no-letter p {
    letter-spacing: 0;
}
.btn-letter a {
    letter-spacing: 0;
}
.user-names {
    width: 80%;
}
.icon-user {
    width: 30px;
}
.twiter-user h4 {
    font-weight: 700;
}
.twiter-user h4 span {
    color: #7F868C;
    font-weight: 500;
}
.col-tweet-user {
    align-items: self-start;
}
.twiter-user p span {
    display: inline-block;
    position: relative;
    top: 3px;
}
.twiter-user p span img {
    width: 17px;
}
.col-tweet-user {
    margin: 0;
    padding: 30px 0 0;
}
.twitter-rowe p {
    font-size: 20px;
    letter-spacing: 1.3px;
    font-family: "Poppins", sans-serif;
    color: #7F868C;
    position: relative;
    top: -6px;
}
.twitter-rowe {
    display: flex;
    justify-content: space-between;
    padding: 0 0 3px;
}
.head-mne h2 {
    max-width: 800px !important;
}
.head-mne h2 u {
    color: #F6CBB7;
    text-decoration: none;
}
.user-names p span {
    position: relative;
    padding: 0 0 0 20px;
}
.user-names p span:before {
    content: "";
    position: absolute;
    top: 0;
    left: 7px;
    width: 1px;
    height: 23px;
    background: #000;
}
.user-names p span u {
    font-weight: 700;
    text-decoration: none;
}
.high-texton p {
    background: #F6CBB7;
    padding: 3px;
    letter-spacing: 0;
}
.high-texton p:after {
    display: none;
}
.mulit-para p:after {
    display: none;
}
.mulit-para p u {
    background: #F6CBB7;
    padding: 3px;
    text-decoration: none;
    line-height: 40px;
}
.mulit-para p {
    letter-spacing: 0;
    display: block !important;
    padding: 0 0 10px;
    line-height: 30px;
}
.mulit-paras p {
    letter-spacing: 0;
    line-height: 30px;
}
.shadow-pic {
    filter: drop-shadow(0px 0px 24px rgba(0, 0, 0, 0.12));
    border-radius: 20px !important;
    margin: 20px 0 32px;
 }
.list-cross ul {
    margin: 10px 0 15px !important;
    padding: 0 !important;
}
.list-cross ul li {
    list-style: none !important;
    position: relative;
    padding: 0 0 9px 32px;
    letter-spacing: 0;
}
.list-cross ul li:before {
    content: "";
    position: absolute;
    top: 7px;
    left: 0;
    background: url(https://cdn.shopify.com/s/files/1/0824/1882/7590/files/Close-cream.svg?v=1732683109);
    height: 24px;
    width: 25px;
}
.gps .gp-text ul>li {
    list-style: none !important;
}
.num-para i {
    font-weight: 700;
    font-style: normal;
    background: #D9D9D9;
    width: 40px;
    height: 40px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
    margin: 0 5px 0 0;
}
.list-tick ul {
    margin: 0 !important;
    padding: 0 !important;
}
.list-tick ul li {
    letter-spacing: 0;
    padding: 0 0 12px 34px;
    position: relative;
    font-weight: 400;
}
.list-tick ul li:before {
    content: "";
    position: absolute;
    top: 7px;
    left: 0;
    height: 24px;
    width: 24px;
    background: url(https://cdn.shopify.com/s/files/1/0824/1882/7590/files/tick-cream.svg?v=1732684896);
}
.btn-land-last p {
    font-weight: 700;
    letter-spacing: 0;
}
.user-multi h6 {
    font-family: "Poppins", sans-serif;
    letter-spacing: 0;
    font-size: 20px;
    transition: 0.3s ease;
    font-weight: 700;
    padding: 0 0 4px;
}
.user-multi p {
    display: flex;
    align-items: center;
    gap: 5px;
    font-size: 18px;
}
.user-multi p span {
    padding: 0;
}
.user-multi p span:before {
    display: none;
}
.user-bigger {
    width: 72px;
}
.land-header {
    display: none;
}
/*** MEDIA ***/
@media only screen and (max-width: 991px) {
.nav-main ul li a {
    font-size: 14px;
}
.nav-main ul {
    gap: 20px;
}
}
@media only screen and (max-width: 767px) {
.user-names h4 {
    font-size: 12px;
}
.user-names p {
    font-size: 12px;
}
.shadow-pic img {    
    box-shadow: none;
    border-radius: 0px !important;
}
.nav-main ul {
    justify-content: center;
    padding: 10px 0 0;
    border-top: 1px solid rgb(0 0 0 / 20%);
    margin: 15px 0 0;
}
.nav-main ul li a {
    font-size: 13px;
}
.col-header {
    padding: 10px 0px !important;
}
.col-user {
    margin: 0 0 15px;
}
.icon-user {
    width: 50px;
}
.twiter-user p span img {
    width: 15px;
}
.col-tweet-user {
    margin: 0;
}
.row-twiiter .g6MFwzhliM.gp-relative {
    box-shadow: none;
}
.twitter-rowe p {
    font-size: 17px;
    top: -6px;
}
.twitter-rowe {
    padding: 0 0 0px;
}
}
      </style>
    


{% schema %}
  {
    
    "name": "Section 1",
    "tag": "section",
    "class": "gps-542025466467451908 gps gpsil",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/39c3e2-72/apps/gempages-cro/app/shopify/edit?pageType=GP_STATIC&editorId=542025466383434756&sectionId=542025466467451908)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"false"},{"type":"text","label":"Checksum","id":"checksum"}],
    "blocks": [{"type": "@app"}],
    "locales": {}
  }
{% endschema %}
