

<style {% if section.settings.section_preload == "false" %} class="gps-link gps-style" type="text/disabled-css" {% endif %}>.gps-559647206114657091.gps.gpsil [style*="--bg:"]{background:var(--bg)}.gps-559647206114657091.gps.gpsil [style*="--bga:"]{background-attachment:var(--bga)}.gps-559647206114657091.gps.gpsil [style*="--bgc:"]{background-color:var(--bgc)}.gps-559647206114657091.gps.gpsil [style*="--bgi:"]{background-image:var(--bgi)}.gps-559647206114657091.gps.gpsil [style*="--bgp:"]{background-position:var(--bgp)}.gps-559647206114657091.gps.gpsil [style*="--bgr:"]{background-repeat:var(--bgr)}.gps-559647206114657091.gps.gpsil [style*="--bgs:"]{background-size:var(--bgs)}.gps-559647206114657091.gps.gpsil [style*="--b:"]{border:var(--b)}.gps-559647206114657091.gps.gpsil [style*="--bc:"]{border-color:var(--bc)}.gps-559647206114657091.gps.gpsil [style*="--bl:"]{border-left:var(--bl)}.gps-559647206114657091.gps.gpsil [style*="--bs:"]{border-style:var(--bs)}.gps-559647206114657091.gps.gpsil [style*="--bw:"]{border-width:var(--bw)}.gps-559647206114657091.gps.gpsil [style*="--shadow:"]{box-shadow:var(--shadow)}.gps-559647206114657091.gps.gpsil [style*="--c:"]{color:var(--c)}.gps-559647206114657091.gps.gpsil [style*="--cg:"]{-moz-column-gap:var(--cg);column-gap:var(--cg)}.gps-559647206114657091.gps.gpsil [style*="--gtc:"]{grid-template-columns:var(--gtc)}.gps-559647206114657091.gps.gpsil [style*="--jc:"]{justify-content:var(--jc)}.gps-559647206114657091.gps.gpsil [style*="--op:"]{opacity:var(--op)}.gps-559647206114657091.gps.gpsil [style*="--o:"]{order:var(--o)}.gps-559647206114657091.gps.gpsil [style*="--pc:"]{place-content:var(--pc)}.gps-559647206114657091.gps.gpsil [style*="--p:"]{padding:var(--p)}.gps-559647206114657091.gps.gpsil [style*="--pb:"]{padding-bottom:var(--pb)}.gps-559647206114657091.gps.gpsil [style*="--pl:"]{padding-left:var(--pl)}.gps-559647206114657091.gps.gpsil [style*="--pr:"]{padding-right:var(--pr)}.gps-559647206114657091.gps.gpsil [style*="--pt:"]{padding-top:var(--pt)}.gps-559647206114657091.gps.gpsil [style*="--ta:"]{text-align:var(--ta)}.gps-559647206114657091.gps.gpsil [style*="--t:"]{transform:var(--t)}.gps-559647206114657091.gps.gpsil [style*="--w:"]{width:var(--w)}@media only screen and (max-width:1024px){.gps-559647206114657091.gps.gpsil [style*="--pl-tablet:"]{padding-left:var(--pl-tablet)}.gps-559647206114657091.gps.gpsil [style*="--pr-tablet:"]{padding-right:var(--pr-tablet)}.gps-559647206114657091.gps.gpsil [style*="--w-tablet:"]{width:var(--w-tablet)}}@media only screen and (max-width:767px){.gps-559647206114657091.gps.gpsil [style*="--pl-mobile:"]{padding-left:var(--pl-mobile)}.gps-559647206114657091.gps.gpsil [style*="--pr-mobile:"]{padding-right:var(--pr-mobile)}.gps-559647206114657091.gps.gpsil [style*="--w-mobile:"]{width:var(--w-mobile)}}.gps-559647206114657091 .gp-relative{position:relative}.gps-559647206114657091 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-559647206114657091 .gp-mb-0{margin-bottom:0}.gps-559647206114657091 .gp-flex{display:flex}.gps-559647206114657091 .gp-grid{display:grid}.gps-559647206114657091 .\!gp-hidden{display:none!important}.gps-559647206114657091 .gp-hidden{display:none}.gps-559647206114657091 .gp-max-w-full{max-width:100%}.gps-559647206114657091 .gp-flex-col{flex-direction:column}.gps-559647206114657091 .gp-gap-y-0{row-gap:0}.gps-559647206114657091 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-559647206114657091 .gp-duration-200{transition-duration:.2s}.gps-559647206114657091 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}@media (max-width:1024px){.gps-559647206114657091 .tablet\:\!gp-hidden{display:none!important}.gps-559647206114657091 .tablet\:gp-hidden{display:none}}@media (max-width:767px){.gps-559647206114657091 .mobile\:\!gp-hidden{display:none!important}.gps-559647206114657091 .mobile\:gp-hidden{display:none}}.gps-559647206114657091 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}.gps-559647206114657091 .\[\&_\*\]\:gp-max-w-none *{max-width:none}</style>

       
      
            <section
              class="gp-mx-auto gp-max-w-full {% if section.settings.section_preload == "false" %}gps-lazy {% endif %}"
              style="--w:100%;--w-tablet:100%;--w-mobile:100%;--pl:0px;--pl-tablet:0px;--pl-mobile:0px;--pr:0px;--pr-tablet:0px;--pr-mobile:0px"
            >
              
    <div
      enableLazyloadImage="true" id="gAZ5Eo1IG8" data-id="gAZ5Eo1IG8"
        style="--blockPadding:base;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pt:var(--g-s-2xl);--pb:var(--g-s-2xl);--cg:32px;--pc:start;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gAZ5Eo1IG8 gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      enableLazyloadImage="true" label="Block" tag="Col" type="component"
      style="--jc:start"
      class="ghyFdQ8Z6r gp-relative gp-flex gp-flex-col"
    >
      <div gp-el-wrapper style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%" class="g5FPiHIHTg ">
      
    <div
      class=" gp-vitals [&_*]:gp-max-w-none"
      style="--ta:left"
    >
      {% assign widget = 'productReviewsCarousel' %}
      {% case widget %}
        {% when "addToWishlist" %}
          <div id="vitals-wishlist"></div>
        {% when "goToWishlist" %}
          <div id="vitals-wishlist-header"></div>
        {% when "paymentLogos" %}
          <div id="bundle-payment_logos"></div>
        {% when "recentlyViewed" %}
          <div id="vitals-recently_viewed-container"></div>
        {% when "shoppableInstagramFeed" %}
          <div id="vitals-instagram-feed"></div>
        {% when "trustSealsAndBadges" %}
          <div id="bundle-trust_badges"></div>
        {% when "productReviews" %}
          <div id="bundle-product_reviews"></div>
        {% when "productBundles" %}
          <div id="bundle-product-bundles"></div>
        {% when "volumeDiscounts" %}
          <div id="bundle-volume-discounts"></div>
        {% when "stockScarcity" %}
          <div id="vitals-stock-urgency"></div>
        {% when "sizeChart" %}
          <div id="vitals-size_chart"></div>	
        {% when "upsellBuilderBogo" %}
          <div id="vitals-upsell-builder-bogo"></div>	
        {% when "bundleCountdownBox" %}
          <div id="bundle-countdown_box"></div>
        {% when "reviewsUnderTitle" %}
          <div id="vital_reviews_under_title"></div>
        {% when "productReviewsCarousel" %}
          <div id="bundle-product_reviews_carousel"></div>
        {% when "shippingBox" %}
          <div id="vitals-shipping-box"></div>
        {% when "currencyConverter" %}
          <div id="vitals-currency_converter"></div>
        {% when "relatedProducts" %}
          <div id="bundle-related-products"></div>
        {% when "cartReservedBox" %}
          <div id="cart_reserved-box"></div>
        {% when "backInStock" %}
          <div id="vitals-back_in_stock"></div>
      {% endcase %}
    </div>
  
      </div>
    </div>
    </div>
  
            </section>
           
    


{% schema %}
  {
    
    "name": "Section 22",
    "tag": "section",
    "class": "gps-559647206114657091 gps gpsil",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/39c3e2-72/apps/gempages-cro/app/shopify/edit?pageType=GP_STATIC&editorId=559647205728715587&sectionId=559647206114657091)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"false"},{"type":"text","label":"Checksum","id":"checksum"}],
    "blocks": [{"type": "@app"}],
    "locales": {}
  }
{% endschema %}
