

<style {% if section.settings.section_preload == "false" %} class="gps-link gps-style" type="text/disabled-css" {% endif %}>.gps-565543373860832161.gps.gpsil [style*="--aspect:"]{aspect-ratio:var(--aspect)}.gps-565543373860832161.gps.gpsil [style*="--bg:"]{background:var(--bg)}.gps-565543373860832161.gps.gpsil [style*="--bga:"]{background-attachment:var(--bga)}.gps-565543373860832161.gps.gpsil [style*="--bgc:"]{background-color:var(--bgc)}.gps-565543373860832161.gps.gpsil [style*="--bgi:"]{background-image:var(--bgi)}.gps-565543373860832161.gps.gpsil [style*="--bgp:"]{background-position:var(--bgp)}.gps-565543373860832161.gps.gpsil [style*="--bgr:"]{background-repeat:var(--bgr)}.gps-565543373860832161.gps.gpsil [style*="--bgs:"]{background-size:var(--bgs)}.gps-565543373860832161.gps.gpsil [style*="--b:"]{border:var(--b)}.gps-565543373860832161.gps.gpsil [style*="--bb:"]{border-bottom:var(--bb)}.gps-565543373860832161.gps.gpsil [style*="--bc:"]{border-color:var(--bc)}.gps-565543373860832161.gps.gpsil [style*="--bblr:"]{border-bottom-left-radius:var(--bblr)}.gps-565543373860832161.gps.gpsil [style*="--bbrr:"]{border-bottom-right-radius:var(--bbrr)}.gps-565543373860832161.gps.gpsil [style*="--bl:"]{border-left:var(--bl)}.gps-565543373860832161.gps.gpsil [style*="--radius:"]{border-radius:var(--radius)}.gps-565543373860832161.gps.gpsil [style*="--bs:"]{border-style:var(--bs)}.gps-565543373860832161.gps.gpsil [style*="--bt:"]{border-top:var(--bt)}.gps-565543373860832161.gps.gpsil [style*="--btlr:"]{border-top-left-radius:var(--btlr)}.gps-565543373860832161.gps.gpsil [style*="--btrr:"]{border-top-right-radius:var(--btrr)}.gps-565543373860832161.gps.gpsil [style*="--bw:"]{border-width:var(--bw)}.gps-565543373860832161.gps.gpsil [style*="--shadow:"]{box-shadow:var(--shadow)}.gps-565543373860832161.gps.gpsil [style*="--c:"]{color:var(--c)}.gps-565543373860832161.gps.gpsil [style*="--cg:"]{-moz-column-gap:var(--cg);column-gap:var(--cg)}.gps-565543373860832161.gps.gpsil [style*="--ff:"]{font-family:var(--ff)}.gps-565543373860832161.gps.gpsil [style*="--size:"]{font-size:var(--size)}.gps-565543373860832161.gps.gpsil [style*="--weight:"]{font-weight:var(--weight)}.gps-565543373860832161.gps.gpsil [style*="--fs:"]{font-style:var(--fs)}.gps-565543373860832161.gps.gpsil [style*="--gtc:"]{grid-template-columns:var(--gtc)}.gps-565543373860832161.gps.gpsil [style*="--h:"]{height:var(--h)}.gps-565543373860832161.gps.gpsil [style*="--jc:"]{justify-content:var(--jc)}.gps-565543373860832161.gps.gpsil [style*="--ls:"]{letter-spacing:var(--ls)}.gps-565543373860832161.gps.gpsil [style*="--lh:"]{line-height:var(--lh)}.gps-565543373860832161.gps.gpsil [style*="--m:"]{margin:var(--m)}.gps-565543373860832161.gps.gpsil [style*="--mb:"]{margin-bottom:var(--mb)}.gps-565543373860832161.gps.gpsil [style*="--objf:"]{-o-object-fit:var(--objf);object-fit:var(--objf)}.gps-565543373860832161.gps.gpsil [style*="--op:"]{opacity:var(--op)}.gps-565543373860832161.gps.gpsil [style*="--o:"]{order:var(--o)}.gps-565543373860832161.gps.gpsil [style*="--pc:"]{place-content:var(--pc)}.gps-565543373860832161.gps.gpsil [style*="--p:"]{padding:var(--p)}.gps-565543373860832161.gps.gpsil [style*="--pb:"]{padding-bottom:var(--pb)}.gps-565543373860832161.gps.gpsil [style*="--pl:"]{padding-left:var(--pl)}.gps-565543373860832161.gps.gpsil [style*="--pr:"]{padding-right:var(--pr)}.gps-565543373860832161.gps.gpsil [style*="--pt:"]{padding-top:var(--pt)}.gps-565543373860832161.gps.gpsil [style*="--ta:"]{text-align:var(--ta)}.gps-565543373860832161.gps.gpsil [style*="--ts:"]{text-shadow:var(--ts)}.gps-565543373860832161.gps.gpsil [style*="--t:"]{transform:var(--t)}.gps-565543373860832161.gps.gpsil [style*="--w:"]{width:var(--w)}.gps-565543373860832161.gps.gpsil [style*="--line-clamp:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp);display:-webkit-box;overflow:hidden}@media only screen and (max-width:1024px){.gps-565543373860832161.gps.gpsil [style*="--aspect-tablet:"]{aspect-ratio:var(--aspect-tablet)}.gps-565543373860832161.gps.gpsil [style*="--size-tablet:"]{font-size:var(--size-tablet)}.gps-565543373860832161.gps.gpsil [style*="--h-tablet:"]{height:var(--h-tablet)}.gps-565543373860832161.gps.gpsil [style*="--lh-tablet:"]{line-height:var(--lh-tablet)}.gps-565543373860832161.gps.gpsil [style*="--pl-tablet:"]{padding-left:var(--pl-tablet)}.gps-565543373860832161.gps.gpsil [style*="--pr-tablet:"]{padding-right:var(--pr-tablet)}.gps-565543373860832161.gps.gpsil [style*="--w-tablet:"]{width:var(--w-tablet)}.gps-565543373860832161.gps.gpsil [style*="--line-clamp-tablet:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-tablet);display:-webkit-box;overflow:hidden}}@media only screen and (max-width:767px){.gps-565543373860832161.gps.gpsil [style*="--aspect-mobile:"]{aspect-ratio:var(--aspect-mobile)}.gps-565543373860832161.gps.gpsil [style*="--size-mobile:"]{font-size:var(--size-mobile)}.gps-565543373860832161.gps.gpsil [style*="--gtc-mobile:"]{grid-template-columns:var(--gtc-mobile)}.gps-565543373860832161.gps.gpsil [style*="--h-mobile:"]{height:var(--h-mobile)}.gps-565543373860832161.gps.gpsil [style*="--lh-mobile:"]{line-height:var(--lh-mobile)}.gps-565543373860832161.gps.gpsil [style*="--mb-mobile:"]{margin-bottom:var(--mb-mobile)}.gps-565543373860832161.gps.gpsil [style*="--pb-mobile:"]{padding-bottom:var(--pb-mobile)}.gps-565543373860832161.gps.gpsil [style*="--pl-mobile:"]{padding-left:var(--pl-mobile)}.gps-565543373860832161.gps.gpsil [style*="--pr-mobile:"]{padding-right:var(--pr-mobile)}.gps-565543373860832161.gps.gpsil [style*="--pt-mobile:"]{padding-top:var(--pt-mobile)}.gps-565543373860832161.gps.gpsil [style*="--w-mobile:"]{width:var(--w-mobile)}.gps-565543373860832161.gps.gpsil [style*="--line-clamp-mobile:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-mobile);display:-webkit-box;overflow:hidden}}.gps-565543373860832161 .gp-g-paragraph-1{font-family:var(--g-p1-ff);font-size:var(--g-p1-size);font-style:var(--g-p1-fs);font-weight:var(--g-p1-weight);letter-spacing:var(--g-p1-ls);line-height:var(--g-p1-lh)}.gps-565543373860832161 .gp-relative{position:relative}.gps-565543373860832161 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-565543373860832161 .gp-mb-0{margin-bottom:0}.gps-565543373860832161 .gp-flex{display:flex}.gps-565543373860832161 .gp-grid{display:grid}.gps-565543373860832161 .gp-contents{display:contents}.gps-565543373860832161 .\!gp-hidden{display:none!important}.gps-565543373860832161 .gp-hidden{display:none}.gps-565543373860832161 .gp-h-auto{height:auto}.gps-565543373860832161 .gp-h-full{height:100%}.gps-565543373860832161 .gp-w-full{width:100%}.gps-565543373860832161 .gp-max-w-full{max-width:100%}.gps-565543373860832161 .gp-flex-none{flex:none}.gps-565543373860832161 .gp-grid-rows-\[1fr\]{grid-template-rows:1fr}.gps-565543373860832161 .gp-flex-col{flex-direction:column}.gps-565543373860832161 .gp-gap-y-0{row-gap:0}.gps-565543373860832161 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-565543373860832161 .gp-duration-200{transition-duration:.2s}.gps-565543373860832161 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}@media (max-width:1024px){.gps-565543373860832161 .tablet\:\!gp-hidden{display:none!important}.gps-565543373860832161 .tablet\:gp-hidden{display:none}.gps-565543373860832161 .tablet\:gp-h-auto{height:auto}.gps-565543373860832161 .tablet\:gp-flex-none{flex:none}}@media (max-width:767px){.gps-565543373860832161 .mobile\:\!gp-hidden{display:none!important}.gps-565543373860832161 .mobile\:gp-hidden{display:none}.gps-565543373860832161 .mobile\:gp-h-auto{height:auto}.gps-565543373860832161 .mobile\:gp-flex-none{flex:none}}.gps-565543373860832161 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}.gps-565543373860832161 .\[\&_p\]\:gp-inline p{display:inline}.gps-565543373860832161 .\[\&_p\]\:after\:gp-whitespace-pre-wrap p:after{content:var(--tw-content);white-space:pre-wrap}.gps-565543373860832161 .\[\&_p\]\:after\:gp-content-\[\'\\A\'\] p:after{--tw-content:"\A";content:var(--tw-content)}</style>

       
      
            <section
              class="gp-mx-auto gp-max-w-full {% if section.settings.section_preload == "false" %}gps-lazy {% endif %}"
              style="--w:100%;--w-tablet:100%;--w-mobile:100%;--pl:0px;--pl-tablet:0px;--pl-mobile:0px;--pr:0px;--pr-tablet:0px;--pr-mobile:0px"
            >
              
    <div
      id="gmuLFZAjcX" data-id="gmuLFZAjcX"
        style="--blockPadding:base;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:none;--d-mobile:grid;--d-tablet:none;--op:100%;--pt:var(--g-s-2xl);--pb:var(--g-s-2xl);--pt-mobile:var(--g-s-2xl);--pl-mobile:15px;--pb-mobile:5px;--pr-mobile:15px;--cg:32px;--pc:start;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gmuLFZAjcX gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="g6o1Bo1cAy gp-relative gp-flex gp-flex-col"
    >
      
       
      
    <div
      parentTag="Col" id="gsBpA6q8R9" data-id="gsBpA6q8R9"
        style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--cg:8px;--pc:start;--gtc:minmax(0, 6fr) minmax(0, 6fr);--gtc-mobile:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gsBpA6q8R9 gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:center"
      class="geNAqOkj6Q gp-relative gp-flex gp-flex-col"
    >
      <div
    
     data-id="gLBJ0sUgmt"
    role="presentation"
    class="gp-group/image gLBJ0sUgmt gp-flex-none gp-h-auto mobile:gp-flex-none mobile:gp-h-auto tablet:gp-flex-none tablet:gp-h-auto"
    style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--mb-mobile:20px;--ta:center"
    >
      <div
        class="pointer-events-auto gp-h-full gp-flex"
        
        class="gp-h-full gp-w-full"
        style="--shadow:none;border-radius:inherit;--jc:center"
      >
        
  <picture style="border-radius: inherit" class="gp-contents">
  
      <source media="(max-width: 767px)" data-srcSet="{{ "gempages_510135694635565882-823f0b4e-deb0-475b-8542-ea5838a77af3.webp" | file_url }}" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTAyNCIgaGVpZ2h0PSIxMDI0IiB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPgogICAgPGRlZnM+CiAgICAgIDxsaW5lYXJHcmFkaWVudCBpZD0iZy0xMDI0LTEwMjQiPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iMjAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNTAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNzAlIiAvPgogICAgICA8L2xpbmVhckdyYWRpZW50PgogICAgPC9kZWZzPgogICAgPHJlY3Qgd2lkdGg9IjEwMjQiIGhlaWdodD0iMTAyNCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMTAyNCIgaGVpZ2h0PSIxMDI0IiBmaWxsPSJ1cmwoI2ctMTAyNC0xMDI0KSIgLz4KICAgIDxhbmltYXRlIHhsaW5rOmhyZWY9IiNyIiBhdHRyaWJ1dGVOYW1lPSJ4IiBmcm9tPSItMTAyNCIgdG89IjEwMjQiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" />
      <source media="(max-width: 1024px)" data-srcSet="https://placehold.co/1620x1620?text=Image" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTYyMCIgaGVpZ2h0PSIxNjIwIiB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPgogICAgPGRlZnM+CiAgICAgIDxsaW5lYXJHcmFkaWVudCBpZD0iZy0xNjIwLTE2MjAiPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iMjAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNTAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNzAlIiAvPgogICAgICA8L2xpbmVhckdyYWRpZW50PgogICAgPC9kZWZzPgogICAgPHJlY3Qgd2lkdGg9IjE2MjAiIGhlaWdodD0iMTYyMCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMTYyMCIgaGVpZ2h0PSIxNjIwIiBmaWxsPSJ1cmwoI2ctMTYyMC0xNjIwKSIgLz4KICAgIDxhbmltYXRlIHhsaW5rOmhyZWY9IiNyIiBhdHRyaWJ1dGVOYW1lPSJ4IiBmcm9tPSItMTYyMCIgdG89IjE2MjAiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" />
      <img
        
        class="gp-h-full gp-max-w-full gp-flex gp_lazyload"
        src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTYyMCIgaGVpZ2h0PSIxNjIwIiB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPgogICAgPGRlZnM+CiAgICAgIDxsaW5lYXJHcmFkaWVudCBpZD0iZy0xNjIwLTE2MjAiPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iMjAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNTAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNzAlIiAvPgogICAgICA8L2xpbmVhckdyYWRpZW50PgogICAgPC9kZWZzPgogICAgPHJlY3Qgd2lkdGg9IjE2MjAiIGhlaWdodD0iMTYyMCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMTYyMCIgaGVpZ2h0PSIxNjIwIiBmaWxsPSJ1cmwoI2ctMTYyMC0xNjIwKSIgLz4KICAgIDxhbmltYXRlIHhsaW5rOmhyZWY9IiNyIiBhdHRyaWJ1dGVOYW1lPSJ4IiBmcm9tPSItMTYyMCIgdG89IjE2MjAiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4="
        data-src="https://placehold.co/1620x1620?text=Image"
        width="100%"
        alt=""
        style="--aspect:auto;--aspect-tablet:auto;--aspect-mobile:1/1;--objf:cover;--h:auto;--h-tablet:auto;--h-mobile:auto;--b:none;--bc:#c2818a;--bw:2px 2px 2px 2px;--bblr:8px;--bbrr:8px;--btlr:8px;--btrr:8px;--radiusType:custom;--shadow:none"
      />
    
  </picture>
      </div>
  </div>
    </div><div
      label="Block" tag="Col" type="component"
      style="--jc:center"
      class="gPSGt1mb83 gp-relative gp-flex gp-flex-col"
    >
      
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="g9QpXmcXrx">
    <div
      parentTag="Col"
        class="g9QpXmcXrx "
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--mb:8px;--mb-mobile:5px"
      >
      <div class="gp-flex" style="--jc:left">
        <h2
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ts:none;--ta:center;--fs:normal;--ff:var(--g-font-sans-serif, 'sans-serif'), var(--g-font-heading, heading);--weight:600;--ls:normal;--size:28px;--size-tablet:28px;--size-mobile:24px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--c:#242424;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.gg9QpXmcXrx_text | replace: '$locationOrigin', locationOrigin }}</h2>
      </div>
    </div>
    </gp-text>
    
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="gTkgZX7PzO">
    <div
      parentTag="Col"
        class="gTkgZX7PzO "
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pl:30px;--pr:30px;--pl-mobile:0px;--pr-mobile:0px"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-g-paragraph-1 gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:var(--g-c-text-1, text-1);word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggTkgZX7PzO_text | replace: '$locationOrigin', locationOrigin }}</div>
      </div>
    </div>
    </gp-text>
    
    </div>
    </div>
   
    
    </div>
    </div>
  
            </section>
           
    


{% schema %}
  {
    
    "name": "Section 17",
    "tag": "section",
    "class": "gps-565543373860832161 gps gpsil",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/39c3e2-72/apps/gempages-cro/app/shopify/edit?pageType=GP_STATIC&editorId=565543373708985249&sectionId=565543373860832161)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"false"},{"type":"text","label":"Checksum","id":"checksum"},{"type":"html","id":"gg9QpXmcXrx_text","label":"gg9QpXmcXrx_text","default":"Moisture Wicking Technology"},{"type":"html","id":"ggTkgZX7PzO_text","label":"ggTkgZX7PzO_text","default":"<p>Our moisture-wicking technology combines advanced fabrics to keep you dry and comfortable. Nylon fibers are hydrophobic, pulling sweat away from your skin to the fabric’s surface through capillary action. The moisture is then evenly spread across the surface, where it evaporates quickly due to nylon’s breathable and quick-drying properties. Meanwhile, spandex ensures a snug fit, enhancing sweat transfer to the surface for efficient evaporation.</p>"}],
    "blocks": [{"type": "@app"}],
    "locales": {}
  }
{% endschema %}
