

<style {% if section.settings.section_preload == "false" %} class="gps-link gps-style" type="text/disabled-css" {% endif %}>.gps-556363705881724097.gps.gpsil [style*="--aspect:"]{aspect-ratio:var(--aspect)}.gps-556363705881724097.gps.gpsil [style*="--bg:"]{background:var(--bg)}.gps-556363705881724097.gps.gpsil [style*="--hvr-bg:"]:hover{background:var(--hvr-bg)}.gps-556363705881724097.gps.gpsil [style*="--bga:"]{background-attachment:var(--bga)}.gps-556363705881724097.gps.gpsil [style*="--bgc:"]{background-color:var(--bgc)}.gps-556363705881724097.gps.gpsil [style*="--bgi:"]{background-image:var(--bgi)}.gps-556363705881724097.gps.gpsil [style*="--bgp:"]{background-position:var(--bgp)}.gps-556363705881724097.gps.gpsil [style*="--bgr:"]{background-repeat:var(--bgr)}.gps-556363705881724097.gps.gpsil [style*="--bgs:"]{background-size:var(--bgs)}.gps-556363705881724097.gps.gpsil [style*="--b:"]{border:var(--b)}.gps-556363705881724097.gps.gpsil [style*="--hvr-b:"]:hover{border:var(--hvr-b)}.gps-556363705881724097.gps.gpsil [style*="--bb:"]{border-bottom:var(--bb)}.gps-556363705881724097.gps.gpsil [style*="--bc:"]{border-color:var(--bc)}.gps-556363705881724097.gps.gpsil [style*="--bblr:"]{border-bottom-left-radius:var(--bblr)}.gps-556363705881724097.gps.gpsil [style*="--bbrr:"]{border-bottom-right-radius:var(--bbrr)}.gps-556363705881724097.gps.gpsil [style*="--bl:"]{border-left:var(--bl)}.gps-556363705881724097.gps.gpsil [style*="--bs:"]{border-style:var(--bs)}.gps-556363705881724097.gps.gpsil [style*="--bt:"]{border-top:var(--bt)}.gps-556363705881724097.gps.gpsil [style*="--btlr:"]{border-top-left-radius:var(--btlr)}.gps-556363705881724097.gps.gpsil [style*="--btrr:"]{border-top-right-radius:var(--btrr)}.gps-556363705881724097.gps.gpsil [style*="--bw:"]{border-width:var(--bw)}.gps-556363705881724097.gps.gpsil [style*="--shadow:"]{box-shadow:var(--shadow)}.gps-556363705881724097.gps.gpsil [style*="--c:"]{color:var(--c)}.gps-556363705881724097.gps.gpsil [style*="--cg:"]{-moz-column-gap:var(--cg);column-gap:var(--cg)}.gps-556363705881724097.gps.gpsil [style*="--size:"]{font-size:var(--size)}.gps-556363705881724097.gps.gpsil [style*="--weight:"]{font-weight:var(--weight)}.gps-556363705881724097.gps.gpsil [style*="--gtc:"]{grid-template-columns:var(--gtc)}.gps-556363705881724097.gps.gpsil [style*="--h:"]{height:var(--h)}.gps-556363705881724097.gps.gpsil [style*="--jc:"]{justify-content:var(--jc)}.gps-556363705881724097.gps.gpsil [style*="--m:"]{margin:var(--m)}.gps-556363705881724097.gps.gpsil [style*="--mb:"]{margin-bottom:var(--mb)}.gps-556363705881724097.gps.gpsil [style*="--op:"]{opacity:var(--op)}.gps-556363705881724097.gps.gpsil [style*="--o:"]{order:var(--o)}.gps-556363705881724097.gps.gpsil [style*="--pc:"]{place-content:var(--pc)}.gps-556363705881724097.gps.gpsil [style*="--p:"]{padding:var(--p)}.gps-556363705881724097.gps.gpsil [style*="--pb:"]{padding-bottom:var(--pb)}.gps-556363705881724097.gps.gpsil [style*="--pl:"]{padding-left:var(--pl)}.gps-556363705881724097.gps.gpsil [style*="--pr:"]{padding-right:var(--pr)}.gps-556363705881724097.gps.gpsil [style*="--pt:"]{padding-top:var(--pt)}.gps-556363705881724097.gps.gpsil [style*="--ta:"]{text-align:var(--ta)}.gps-556363705881724097.gps.gpsil [style*="--t:"]{transform:var(--t)}.gps-556363705881724097.gps.gpsil [style*="--w:"]{width:var(--w)}.gps-556363705881724097.gps.gpsil [style*="--line-clamp:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp);display:-webkit-box;overflow:hidden}@media only screen and (max-width:1024px){.gps-556363705881724097.gps.gpsil [style*="--size-tablet:"]{font-size:var(--size-tablet)}.gps-556363705881724097.gps.gpsil [style*="--h-tablet:"]{height:var(--h-tablet)}.gps-556363705881724097.gps.gpsil [style*="--pl-tablet:"]{padding-left:var(--pl-tablet)}.gps-556363705881724097.gps.gpsil [style*="--pr-tablet:"]{padding-right:var(--pr-tablet)}.gps-556363705881724097.gps.gpsil [style*="--w-tablet:"]{width:var(--w-tablet)}.gps-556363705881724097.gps.gpsil [style*="--line-clamp-tablet:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-tablet);display:-webkit-box;overflow:hidden}}@media only screen and (max-width:767px){.gps-556363705881724097.gps.gpsil [style*="--size-mobile:"]{font-size:var(--size-mobile)}.gps-556363705881724097.gps.gpsil [style*="--gtc-mobile:"]{grid-template-columns:var(--gtc-mobile)}.gps-556363705881724097.gps.gpsil [style*="--h-mobile:"]{height:var(--h-mobile)}.gps-556363705881724097.gps.gpsil [style*="--mb-mobile:"]{margin-bottom:var(--mb-mobile)}.gps-556363705881724097.gps.gpsil [style*="--pb-mobile:"]{padding-bottom:var(--pb-mobile)}.gps-556363705881724097.gps.gpsil [style*="--pl-mobile:"]{padding-left:var(--pl-mobile)}.gps-556363705881724097.gps.gpsil [style*="--pr-mobile:"]{padding-right:var(--pr-mobile)}.gps-556363705881724097.gps.gpsil [style*="--pt-mobile:"]{padding-top:var(--pt-mobile)}.gps-556363705881724097.gps.gpsil [style*="--ta-mobile:"]{text-align:var(--ta-mobile)}.gps-556363705881724097.gps.gpsil [style*="--w-mobile:"]{width:var(--w-mobile)}.gps-556363705881724097.gps.gpsil [style*="--line-clamp-mobile:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-mobile);display:-webkit-box;overflow:hidden}}.gps-556363705881724097 .-gp-translate-x-1\/2,.gps-556363705881724097 .-gp-translate-y-1\/2{--tw-translate-x:0;--tw-translate-y:0;--tw-rotate:0;--tw-skew-x:0;--tw-skew-y:0;--tw-scale-x:1;--tw-scale-y:1}.gps-556363705881724097 .gp-g-paragraph-1{font-family:var(--g-p1-ff);font-size:var(--g-p1-size);font-style:var(--g-p1-fs);font-weight:var(--g-p1-weight);letter-spacing:var(--g-p1-ls);line-height:var(--g-p1-lh)}.gps-556363705881724097 .gp-absolute{position:absolute}.gps-556363705881724097 .gp-relative{position:relative}.gps-556363705881724097 .gp-left-0{left:0}.gps-556363705881724097 .gp-left-1\/2{left:50%}.gps-556363705881724097 .gp-top-0{top:0}.gps-556363705881724097 .gp-top-1\/2{top:50%}.gps-556363705881724097 .gp-z-1{z-index:1}.gps-556363705881724097 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-556363705881724097 .gp-mb-0{margin-bottom:0}.gps-556363705881724097 .gp-flex{display:flex}.gps-556363705881724097 .gp-inline-flex{display:inline-flex}.gps-556363705881724097 .gp-grid{display:grid}.gps-556363705881724097 .\!gp-hidden{display:none!important}.gps-556363705881724097 .gp-hidden{display:none}.gps-556363705881724097 .gp-aspect-\[56\/32\]{aspect-ratio:56/32}.gps-556363705881724097 .gp-h-full{height:100%}.gps-556363705881724097 .gp-w-14{width:56px}.gps-556363705881724097 .gp-w-5{width:20px}.gps-556363705881724097 .gp-w-full{width:100%}.gps-556363705881724097 .\!gp-max-w-none{max-width:none!important}.gps-556363705881724097 .gp-max-w-full{max-width:100%}.gps-556363705881724097 .-gp-translate-x-1\/2{--tw-translate-x:-50%}.gps-556363705881724097 .-gp-translate-x-1\/2,.gps-556363705881724097 .-gp-translate-y-1\/2{transform:translate(var(--tw-translate-x),var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))}.gps-556363705881724097 .-gp-translate-y-1\/2{--tw-translate-y:-50%}.gps-556363705881724097 .gp-flex-col{flex-direction:column}.gps-556363705881724097 .gp-items-center{align-items:center}.gps-556363705881724097 .gp-justify-center{justify-content:center}.gps-556363705881724097 .gp-gap-y-0{row-gap:0}.gps-556363705881724097 .gp-overflow-hidden{overflow:hidden}.gps-556363705881724097 .gp-break-words{overflow-wrap:break-word}.gps-556363705881724097 .gp-rounded{border-radius:4px}.gps-556363705881724097 .gp-rounded-none{border-radius:0}.gps-556363705881724097 .gp-bg-black{--tw-bg-opacity:1;background-color:rgb(0 0 0/var(--tw-bg-opacity))}.gps-556363705881724097 .gp-bg-black\/80{background-color:rgba(0,0,0,.8)}.gps-556363705881724097 .gp-object-cover{-o-object-fit:cover;object-fit:cover}.gps-556363705881724097 .gp-text-center{text-align:center}.gps-556363705881724097 .gp-text-white{--tw-text-opacity:1;color:rgb(255 255 255/var(--tw-text-opacity))}.gps-556363705881724097 .gp-no-underline{text-decoration-line:none}.gps-556363705881724097 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-556363705881724097 .gp-duration-200{transition-duration:.2s}.gps-556363705881724097 .gp-duration-300{transition-duration:.3s}.gps-556363705881724097 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-556363705881724097 .disabled\:gp-btn-disabled:disabled{cursor:default}@media (hover:hover) and (pointer:fine){.gps-556363705881724097 .hover\:gp-bg-\[\#ef0800\]:hover{--tw-bg-opacity:1;background-color:rgb(239 8 0/var(--tw-bg-opacity))}}.gps-556363705881724097 .disabled\:gp-pointer-events-none:disabled{pointer-events:none}.gps-556363705881724097 .disabled\:gp-opacity-30:disabled{opacity:.3}@media (hover:hover) and (pointer:fine){.gps-556363705881724097 .gp-group\/button:hover .group-hover\/button\:\!gp-text-inherit{color:inherit!important}}.gps-556363705881724097 .gp-group\/button[data-state=loading] .group-data-\[state\=loading\]\/button\:gp-invisible{visibility:hidden}@media (max-width:1024px){.gps-556363705881724097 .tablet\:\!gp-hidden{display:none!important}.gps-556363705881724097 .tablet\:gp-hidden{display:none}}@media (max-width:767px){.gps-556363705881724097 .mobile\:\!gp-hidden{display:none!important}.gps-556363705881724097 .mobile\:gp-hidden{display:none}}.gps-556363705881724097 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}.gps-556363705881724097 .\[\&_\>_article\]\:gp-aspect-\[var\(--aspect\)\]>article{aspect-ratio:var(--aspect)}@media (max-width:1024px){.gps-556363705881724097 .tablet\:\[\&_\>_article\]\:gp-aspect-\[var\(--aspect-tablet\2c _var\(--aspect\)\)\]>article{aspect-ratio:var(--aspect-tablet,var(--aspect))}}@media (max-width:767px){.gps-556363705881724097 .mobile\:\[\&_\>_article\]\:gp-aspect-\[var\(--aspect-mobile\2c _var\(--aspect-tablet\2c _var\(--aspect\)\)\)\]>article{aspect-ratio:var(--aspect-mobile,var(--aspect-tablet,var(--aspect)))}}.gps-556363705881724097 .\[\&_p\]\:gp-inline p{display:inline}.gps-556363705881724097 .\[\&_p\]\:gp-whitespace-pre-line p{white-space:pre-line}.gps-556363705881724097 .\[\&_p\]\:after\:gp-whitespace-pre-wrap p:after{content:var(--tw-content);white-space:pre-wrap}.gps-556363705881724097 .\[\&_p\]\:after\:gp-content-\[\'\\A\'\] p:after{--tw-content:"\A";content:var(--tw-content)}</style>

       
      
            <section
              class="gp-mx-auto gp-max-w-full {% if section.settings.section_preload == "false" %}gps-lazy {% endif %}"
              style="--w:100%;--w-tablet:100%;--w-mobile:100%;--pl:0px;--pl-tablet:0px;--pl-mobile:0px;--pr:0px;--pr-tablet:0px;--pr-mobile:0px"
            >
              
    <div
      enableLazyloadImage="true" id="gi108hLU5Z" data-id="gi108hLU5Z"
        style="--blockPadding:base;--pt:var(--g-s-4xl);--pb:var(--g-s-4xl);--pt-mobile:var(--g-s-2xl);--pb-mobile:var(--g-s-2xl);--d:grid;--d-tablet:grid;--d-mobile:grid;--bs:solid;--bw:1px 0px 1px 0px;--bc:#f0d3cb;--shadow:none;--op:100%;--cg:32px;--pc:start;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:#FDF7F5;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gi108hLU5Z gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      enableLazyloadImage="true" tag="Col" label="Block" type="component"
      style="--jc:start"
      class="gxDHin1OVt gp-relative gp-flex gp-flex-col"
    >
      
       
      
    <div
      enableLazyloadImage="true" parentTag="Col" id="gownMdKEXg" data-id="gownMdKEXg"
        style="--mb:var(--g-s-l);--d:grid;--d-tablet:grid;--d-mobile:grid;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--op:100%;--cg:8px;--pc:start;--gtc:minmax(0, 6fr) minmax(0, 6fr);--gtc-mobile:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gownMdKEXg gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      enableLazyloadImage="true" tag="Col" label="Block" type="component"
      style="--jc:start"
      class="gHgKpABot0 gp-relative gp-flex gp-flex-col"
    >
      
    <div
      
      data-id="g0Yu1D8xXE"
      class="!gp-max-w-none gp-bg-black gp-overflow-hidden [&_>_article]:gp-aspect-[var(--aspect)] tablet:[&_>_article]:gp-aspect-[var(--aspect-tablet,_var(--aspect))] mobile:[&_>_article]:gp-aspect-[var(--aspect-mobile,_var(--aspect-tablet,_var(--aspect)))] gp-relative g0Yu1D8xXE"
      style="--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--bblr:16px;--bbrr:16px;--btlr:16px;--btrr:16px;--shadow:none;--op:100%;--aspect:16/9"
    >
      
  <gp-lite-html5-embed>
    
    <video
      id="gp-video-g0Yu1D8xXE"
      class=" gp-w-full lazy"
      style="--aspect:16/9"
      controls
      
      
      
      title="Video"
      preload="none"
      data-src="https://cdn.shopify.com/videos/c/o/v/4b0df55d060941b190c082cc16b23220.mp4"
      src=""
      poster=""
      playsinline
    >
    <source data-src="https://cdn.shopify.com/videos/c/o/v/4b0df55d060941b190c082cc16b23220.mp4" src="" type="video/mp4"></source>
  </video>
    <div
          style="--aspect:16/9"
           class="gp-absolute gp-top-0 gp-left-0  gp-w-full gp-thumbnail-video gp-hidden"
        >
          <img
            id="video-thumbnail"
            src=""
            class="gp-w-full gp-h-full gp-object-cover"
            alt="Video Thumbnail"
          ></img>
          <button
            type="button"
            class="gp-absolute gp-left-1/2 gp-top-1/2 gp-flex gp-aspect-[56/32] gp-w-14 -gp-translate-x-1/2 -gp-translate-y-1/2 gp-items-center gp-justify-center gp-rounded gp-bg-black/80 gp-transition-colors hover:gp-bg-[#ef0800]"
            aria-label="Play"
          >
            <svg class="gp-w-5 gp-text-white" viewBox="0 0 24 24">
              <path
                fill="currentColor"
                d="M5 5.274c0-1.707 1.826-2.792 3.325-1.977l12.362 6.726c1.566.853 1.566 3.101 0 3.953L8.325 20.702C6.826 21.518 5 20.432 5 18.726V5.274Z"
              />
            </svg>
          </button>
        </div>
        </gp-lite-html5-embed>
        <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://d2ls1pfffhvy22.cloudfront.net/assets-v2/gp-lite-html5-embed.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
    <script src="https://cdn.jsdelivr.net/npm/vanilla-lazyload@17.8.3/dist/lazyload.min.js"></script>
    <script>
        if(lazyLoadInstance){lazyLoadInstance.update()}else{var lazyLoadInstance = new LazyLoad()}
    </script>
  
    </div>
  
    </div><div
      enableLazyloadImage="true" tag="Col" label="Block" type="component"
      style="--jc:start"
      class="gYycDitC01 gp-relative gp-flex gp-flex-col"
    >
      
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="gdfI9QVNjs">
    <div
      enableLazyloadImage="true" parentTag="Col"
        class="gdfI9QVNjs "
        style="--ta:left;--mb:20px;--pl:var(--g-s-xl);--mb-mobile:20px;--pt-mobile:var(--g-s-xl);--pl-mobile:0px;--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--op:100%"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-g-paragraph-1 gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--ta-mobile:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--size:13px;--size-tablet:16px;--size-mobile:14px;--c:var(--g-c-text-1, text-1);word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggdfI9QVNjs_text | replace: '$locationOrigin', locationOrigin }}</div>
      </div>
    </div>
    </gp-text>
    
  <gp-button >
  <div
    style="--pl:var(--g-s-2xl);--pl-mobile:0px;--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--op:100%;--ta:left;--ta-mobile:center"
    
  >
    <style>
    .g9BbbIpklB.gp-button-base::before {
      content: "";
      height: 100%;
      width: 100%;
      position: absolute;
      pointer-events: none;
      border-style: none;
  border-width: 1px 1px 1px 1px;
  
  
      
      border-bottom-left-radius: 8px;
      border-bottom-right-radius: 8px;
      border-top-left-radius: 8px;
      border-top-right-radius: 8px;
      
    }

    .g9BbbIpklB:hover::before {
      
      
    }

    .g9BbbIpklB:hover .gp-button-icon {
      color: undefined;
    }

     .g9BbbIpklB .gp-button-icon {
      color: #000000;
    }

    .g9BbbIpklB:hover .gp-button-price {
      color: undefined;
    }

    .g9BbbIpklB .gp-button-price {
      color: #000000;
    }

    .g9BbbIpklB .gp-product-dot-price {
       color: #000000;
    }

    .g9BbbIpklB:hover .gp-product-dot-price {
      color: undefined;
    }
  </style>
    <a
      href="https://9fu6mlc3far.typeform.com/to/qavRsz4o" target="_self" data-id="g9BbbIpklB" aria-label="<p>APPLY NOW</p>"
      
      data-state="idle"
      class="g9BbbIpklB gp-button-base gp-group/button gp-rounded-none gp-max-w-full gp-relative gp-inline-flex gp-items-center gp-justify-center gp-no-underline gp-transition-colors gp-duration-300 disabled:gp-btn-disabled disabled:gp-opacity-30 disabled:gp-pointer-events-none gp-text-center gp-g-paragraph-1"
      style="--bg:#F0D3CB;--hvr-bg:#f0d3cb;--bblr:8px;--bbrr:8px;--btlr:8px;--btrr:8px;--shadow:none;--w:Auto;--w-tablet:Auto;--w-mobile:Auto;--h:Auto;--h-tablet:Auto;--h-mobile:Auto;--pl:24px;--pr:24px;--pt:8px;--pb:8px;--c:#000000;--size:17px;--size-tablet:16px;--size-mobile:14px;--weight:bold"
    >
      
    <div
    class="gp-inline-flex">
    
      <span
        data-gp-text
        class="group-hover/button:!gp-text-inherit gp-button-text-only gp-break-words group-data-[state=loading]/button:gp-invisible [&_p]:gp-whitespace-pre-line gp-z-1 gp-h-full gp-flex gp-items-center gp-overflow-hidden 
        "
        style="--size:17px;--size-tablet:16px;--size-mobile:14px;--c:#000000"
      >
        {{ section.settings.gg9BbbIpklB_label }}
      </span>
      </div>
    
    </a>
  </div>
  </gp-button>

    </div>
    </div>
   
    
    </div>
    </div>
  
            </section>
           
    


{% schema %}
  {
    
    "name": "Section 2",
    "tag": "section",
    "class": "gps-556363705881724097 gps gpsil",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/39c3e2-72/apps/gempages-cro/app/shopify/edit?pageType=GP_STATIC&editorId=556359621434934465&sectionId=556363705881724097)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"false"},{"type":"text","label":"Checksum","id":"checksum"},{"type":"html","id":"ggdfI9QVNjs_text","label":"ggdfI9QVNjs_text","default":"<p><span style=\"background-color:transparent;color:#000000;font-size:15px;\">Our thong is designed to prevent discomfort, irritation, and infections, offering breathable, moisture-wicking protection for women of all walks of life.</span><br>&nbsp;</p><p><span style=\"background-color:transparent;color:#000000;font-size:15px;\">&nbsp;What’s in it for you? – You can become a brand content creator!&nbsp;</span></p><p><span style=\"background-color:transparent;color:#000000;font-size:15px;\">If your first video becomes a winning ad, you’ll have the opportunity to:</span></p><ul><li><span style=\"background-color:transparent;color:#000000;font-size:15px;\">Join us on a $500 monthly retainer for ongoing content creation.&nbsp;</span></li><li><span style=\"background-color:transparent;color:#000000;font-size:15px;\">Earn affiliate commissions when your content drives sales.&nbsp;</span></li><li><span style=\"background-color:transparent;color:#000000;font-size:15px;\">Get a percentage of the ad spend on your winning ads.&nbsp;</span></li><li><span style=\"background-color:transparent;color:#000000;font-size:15px;\">This is your shot to create an ad that can earn up to $10K per month. Bring your A-game!</span></li></ul>"},{"type":"html","id":"gg9BbbIpklB_label","label":"gg9BbbIpklB_label","default":"<p>APPLY NOW</p>"}],
    "blocks": [{"type": "@app"}],
    "locales": {}
  }
{% endschema %}
