
    
    
    <style {% if section.settings.section_preload == "false" %} class="gps-link gps-style" type="text/disabled-css" {% endif %}>.gps-538432098856338428.gps.gpsil [style*="--bg:"]{background:var(--bg)}.gps-538432098856338428.gps.gpsil [style*="--bga:"]{background-attachment:var(--bga)}.gps-538432098856338428.gps.gpsil [style*="--bgc:"]{background-color:var(--bgc)}.gps-538432098856338428.gps.gpsil [style*="--bgi:"]{background-image:var(--bgi)}.gps-538432098856338428.gps.gpsil [style*="--bgp:"]{background-position:var(--bgp)}.gps-538432098856338428.gps.gpsil [style*="--bgr:"]{background-repeat:var(--bgr)}.gps-538432098856338428.gps.gpsil [style*="--bgs:"]{background-size:var(--bgs)}.gps-538432098856338428.gps.gpsil [style*="--b:"]{border:var(--b)}.gps-538432098856338428.gps.gpsil [style*="--bb:"]{border-bottom:var(--bb)}.gps-538432098856338428.gps.gpsil [style*="--bc:"]{border-color:var(--bc)}.gps-538432098856338428.gps.gpsil [style*="--bblr:"]{border-bottom-left-radius:var(--bblr)}.gps-538432098856338428.gps.gpsil [style*="--bbrr:"]{border-bottom-right-radius:var(--bbrr)}.gps-538432098856338428.gps.gpsil [style*="--bl:"]{border-left:var(--bl)}.gps-538432098856338428.gps.gpsil [style*="--bs:"]{border-style:var(--bs)}.gps-538432098856338428.gps.gpsil [style*="--bt:"]{border-top:var(--bt)}.gps-538432098856338428.gps.gpsil [style*="--btlr:"]{border-top-left-radius:var(--btlr)}.gps-538432098856338428.gps.gpsil [style*="--btrr:"]{border-top-right-radius:var(--btrr)}.gps-538432098856338428.gps.gpsil [style*="--bw:"]{border-width:var(--bw)}.gps-538432098856338428.gps.gpsil [style*="--shadow:"]{box-shadow:var(--shadow)}.gps-538432098856338428.gps.gpsil [style*="--c:"]{color:var(--c)}.gps-538432098856338428.gps.gpsil [style*="--cg:"]{-moz-column-gap:var(--cg);column-gap:var(--cg)}.gps-538432098856338428.gps.gpsil [style*="--size:"]{font-size:var(--size)}.gps-538432098856338428.gps.gpsil [style*="--gtc:"]{grid-template-columns:var(--gtc)}.gps-538432098856338428.gps.gpsil [style*="--jc:"]{justify-content:var(--jc)}.gps-538432098856338428.gps.gpsil [style*="--tdt:"]{text-decoration-thickness:var(--tdt)}.gps-538432098856338428.gps.gpsil [style*="--tdl:"]{text-decoration-line:var(--tdl)}.gps-538432098856338428.gps.gpsil [style*="--m:"]{margin:var(--m)}.gps-538432098856338428.gps.gpsil [style*="--mb:"]{margin-bottom:var(--mb)}.gps-538432098856338428.gps.gpsil [style*="--mt:"]{margin-top:var(--mt)}.gps-538432098856338428.gps.gpsil [style*="--op:"]{opacity:var(--op)}.gps-538432098856338428.gps.gpsil [style*="--o:"]{order:var(--o)}.gps-538432098856338428.gps.gpsil [style*="--pc:"]{place-content:var(--pc)}.gps-538432098856338428.gps.gpsil [style*="--p:"]{padding:var(--p)}.gps-538432098856338428.gps.gpsil [style*="--pb:"]{padding-bottom:var(--pb)}.gps-538432098856338428.gps.gpsil [style*="--pl:"]{padding-left:var(--pl)}.gps-538432098856338428.gps.gpsil [style*="--pr:"]{padding-right:var(--pr)}.gps-538432098856338428.gps.gpsil [style*="--pt:"]{padding-top:var(--pt)}.gps-538432098856338428.gps.gpsil [style*="--ta:"]{text-align:var(--ta)}.gps-538432098856338428.gps.gpsil [style*="--t:"]{transform:var(--t)}.gps-538432098856338428.gps.gpsil [style*="--w:"]{width:var(--w)}.gps-538432098856338428.gps.gpsil [style*="--line-clamp:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp);display:-webkit-box;overflow:hidden}@media only screen and (max-width:1024px){.gps-538432098856338428.gps.gpsil [style*="--size-tablet:"]{font-size:var(--size-tablet)}.gps-538432098856338428.gps.gpsil [style*="--mb-tablet:"]{margin-bottom:var(--mb-tablet)}.gps-538432098856338428.gps.gpsil [style*="--pl-tablet:"]{padding-left:var(--pl-tablet)}.gps-538432098856338428.gps.gpsil [style*="--pr-tablet:"]{padding-right:var(--pr-tablet)}.gps-538432098856338428.gps.gpsil [style*="--w-tablet:"]{width:var(--w-tablet)}.gps-538432098856338428.gps.gpsil [style*="--line-clamp-tablet:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-tablet);display:-webkit-box;overflow:hidden}}@media only screen and (max-width:767px){.gps-538432098856338428.gps.gpsil [style*="--size-mobile:"]{font-size:var(--size-mobile)}.gps-538432098856338428.gps.gpsil [style*="--gtc-mobile:"]{grid-template-columns:var(--gtc-mobile)}.gps-538432098856338428.gps.gpsil [style*="--mb-mobile:"]{margin-bottom:var(--mb-mobile)}.gps-538432098856338428.gps.gpsil [style*="--pl-mobile:"]{padding-left:var(--pl-mobile)}.gps-538432098856338428.gps.gpsil [style*="--pr-mobile:"]{padding-right:var(--pr-mobile)}.gps-538432098856338428.gps.gpsil [style*="--w-mobile:"]{width:var(--w-mobile)}.gps-538432098856338428.gps.gpsil [style*="--line-clamp-mobile:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-mobile);display:-webkit-box;overflow:hidden}}.gps-538432098856338428 .gp-g-paragraph-1{font-family:var(--g-p1-ff);font-size:var(--g-p1-size);font-style:var(--g-p1-fs);font-weight:var(--g-p1-weight);letter-spacing:var(--g-p1-ls);line-height:var(--g-p1-lh)}.gps-538432098856338428 .gp-relative{position:relative}.gps-538432098856338428 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-538432098856338428 .gp-mb-0{margin-bottom:0}.gps-538432098856338428 .gp-flex{display:flex}.gps-538432098856338428 .gp-grid{display:grid}.gps-538432098856338428 .\!gp-hidden{display:none!important}.gps-538432098856338428 .gp-hidden{display:none}.gps-538432098856338428 .gp-max-w-full{max-width:100%}.gps-538432098856338428 .gp-grid-rows-\[1fr\]{grid-template-rows:1fr}.gps-538432098856338428 .gp-flex-col{flex-direction:column}.gps-538432098856338428 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-538432098856338428 .gp-duration-200{transition-duration:.2s}.gps-538432098856338428 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}@media (max-width:1024px){.gps-538432098856338428 .tablet\:\!gp-hidden{display:none!important}.gps-538432098856338428 .tablet\:gp-hidden{display:none}}@media (max-width:767px){.gps-538432098856338428 .mobile\:\!gp-hidden{display:none!important}.gps-538432098856338428 .mobile\:gp-hidden{display:none}}.gps-538432098856338428 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}</style>
    
  
    
    
    

    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}

    
        <section
          class="gp-mx-auto gp-max-w-full [&_*]:gp-max-w-full {% if section.settings.section_preload == "false" %}gps-lazy {% endif %}"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--pl:none;--pl-tablet:none;--pl-mobile:none;--pr:none;--pr-tablet:none;--pr-mobile:none"
        >
          
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"#000000","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color","video":"","videoHtml5":""}},"uid":"gVHq_5Y-vy"}' data-id="gVHq_5Y-vy" id="gVHq_5Y-vy" data-same-height-subgrid-container class="gVHq_5Y-vy gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--blockPadding:base;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--pt:var(--g-s-xl);--pl:2px;--pb:2px;--pr:2px;--cg:32px;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:#000000;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="gn7mN3Bu_t gp-relative gp-flex gp-flex-col"
    >
      
    

    

    
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"transparent","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color"}},"uid":"gtizUnWgb1"}' data-id="gtizUnWgb1" id="gtizUnWgb1" data-same-height-subgrid-container class="gtizUnWgb1 gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:var(--g-s-l);--cg:8px;--gtc:minmax(0, 12fr);--gtc-mobile:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="gxmbiTUEKn gp-relative gp-flex gp-flex-col"
    >
      
    

    

    
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"transparent","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color"}},"uid":"gEZtmSZMG2"}' data-id="gEZtmSZMG2" id="gEZtmSZMG2" data-same-height-subgrid-container class="gEZtmSZMG2 gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--cg:8px;--gtc:minmax(0, 12fr);--gtc-mobile:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="g85b5H-AmT gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="g2-UCO0S_Z"
        class="g2-UCO0S_Z ftr-txt"
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:0px;--pl:10px;--pr:10px;--mb-mobile:0px;--pl-mobile:10px;--pr-mobile:10px;--mb-tablet:0px;--pl-tablet:10px;--pr-tablet:10px;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class="gp-g-paragraph-1  gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--size:11px;--size-tablet:16px;--size-mobile:14px;--c:#ffffff;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.gg2-UCO0S_Z_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    </div>

      
    </gp-row>
  
  
    </div>

      
    </gp-row>
  
  
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gCO804d3Gm"
        class="gCO804d3Gm"
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mt:0px;--pb:var(--g-s-s);--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class="gp-g-paragraph-1  gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ta:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--size:12px;--size-tablet:16px;--size-mobile:14px;--c:#ffffff;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggCO804d3Gm_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    </div>

      
    </gp-row>
  
        </section>
      
  
    
{% schema %}
  {
    
    "name": "Section 8",
    "tag": "section",
    "class": "gps-538432098856338428 gps gpsil",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/39c3e2-72/apps/gempages-cro/app/shopify/edit?pageType=GP_STATIC&editorId=538432098604680188&sectionId=538432098856338428)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"false"},{"type":"text","label":"Checksum","id":"checksum"},{"type":"html","id":"gg2-UCO0S_Z_text","label":"gg2-UCO0S_Z_text","default":"<p><span style=\"font-size:12px;\">Limited-Time Special Sale! Get an exclusive discount on your first purchase of the Olora Invisible Camel Toe Thong, valid for first-time buyers only. &nbsp;Don’t miss your chance to elevate your activewear wardrobe! Terms and conditions apply; one-time use only, cannot be combined with other promotions.</span></p>"},{"type":"html","id":"ggCO804d3Gm_text","label":"ggCO804d3Gm_text","default":"<p>© 2024, Olora</p>"}],
    "blocks": [{"type": "@app"}],
    "locales": {}
  }
{% endschema %}