
    
    
    <style {% if section.settings.section_preload == "false" %} class="gps-link gps-style" type="text/disabled-css" {% endif %}>.gps-566867452299314257.gps.gpsil [style*="--as:"]{align-self:var(--as)}.gps-566867452299314257.gps.gpsil [style*="--aspect:"]{aspect-ratio:var(--aspect)}.gps-566867452299314257.gps.gpsil [style*="--bg:"]{background:var(--bg)}.gps-566867452299314257.gps.gpsil [style*="--bga:"]{background-attachment:var(--bga)}.gps-566867452299314257.gps.gpsil [style*="--bgc:"]{background-color:var(--bgc)}.gps-566867452299314257.gps.gpsil [style*="--bgi:"]{background-image:var(--bgi)}.gps-566867452299314257.gps.gpsil [style*="--bgp:"]{background-position:var(--bgp)}.gps-566867452299314257.gps.gpsil [style*="--bgr:"]{background-repeat:var(--bgr)}.gps-566867452299314257.gps.gpsil [style*="--bgs:"]{background-size:var(--bgs)}.gps-566867452299314257.gps.gpsil [style*="--b:"]{border:var(--b)}.gps-566867452299314257.gps.gpsil [style*="--bb:"]{border-bottom:var(--bb)}.gps-566867452299314257.gps.gpsil [style*="--bc:"]{border-color:var(--bc)}.gps-566867452299314257.gps.gpsil [style*="--bblr:"]{border-bottom-left-radius:var(--bblr)}.gps-566867452299314257.gps.gpsil [style*="--bbrr:"]{border-bottom-right-radius:var(--bbrr)}.gps-566867452299314257.gps.gpsil [style*="--bl:"]{border-left:var(--bl)}.gps-566867452299314257.gps.gpsil [style*="--radius:"]{border-radius:var(--radius)}.gps-566867452299314257.gps.gpsil [style*="--bs:"]{border-style:var(--bs)}.gps-566867452299314257.gps.gpsil [style*="--bt:"]{border-top:var(--bt)}.gps-566867452299314257.gps.gpsil [style*="--btlr:"]{border-top-left-radius:var(--btlr)}.gps-566867452299314257.gps.gpsil [style*="--btrr:"]{border-top-right-radius:var(--btrr)}.gps-566867452299314257.gps.gpsil [style*="--bw:"]{border-width:var(--bw)}.gps-566867452299314257.gps.gpsil [style*="--bottom:"]{bottom:var(--bottom)}.gps-566867452299314257.gps.gpsil [style*="--shadow:"]{box-shadow:var(--shadow)}.gps-566867452299314257.gps.gpsil [style*="--c:"]{color:var(--c)}.gps-566867452299314257.gps.gpsil [style*="--cg:"]{-moz-column-gap:var(--cg);column-gap:var(--cg)}.gps-566867452299314257.gps.gpsil [style*="--ff:"]{font-family:var(--ff)}.gps-566867452299314257.gps.gpsil [style*="--size:"]{font-size:var(--size)}.gps-566867452299314257.gps.gpsil [style*="--weight:"]{font-weight:var(--weight)}.gps-566867452299314257.gps.gpsil [style*="--fs:"]{font-style:var(--fs)}.gps-566867452299314257.gps.gpsil [style*="--gtc:"]{grid-template-columns:var(--gtc)}.gps-566867452299314257.gps.gpsil [style*="--h:"]{height:var(--h)}.gps-566867452299314257.gps.gpsil [style*="--jc:"]{justify-content:var(--jc)}.gps-566867452299314257.gps.gpsil [style*="--ls:"]{letter-spacing:var(--ls)}.gps-566867452299314257.gps.gpsil [style*="--lh:"]{line-height:var(--lh)}.gps-566867452299314257.gps.gpsil [style*="--tdt:"]{text-decoration-thickness:var(--tdt)}.gps-566867452299314257.gps.gpsil [style*="--tdl:"]{text-decoration-line:var(--tdl)}.gps-566867452299314257.gps.gpsil [style*="--m:"]{margin:var(--m)}.gps-566867452299314257.gps.gpsil [style*="--mb:"]{margin-bottom:var(--mb)}.gps-566867452299314257.gps.gpsil [style*="--mr:"]{margin-right:var(--mr)}.gps-566867452299314257.gps.gpsil [style*="--objf:"]{-o-object-fit:var(--objf);object-fit:var(--objf)}.gps-566867452299314257.gps.gpsil [style*="--op:"]{opacity:var(--op)}.gps-566867452299314257.gps.gpsil [style*="--o:"]{order:var(--o)}.gps-566867452299314257.gps.gpsil [style*="--pc:"]{place-content:var(--pc)}.gps-566867452299314257.gps.gpsil [style*="--p:"]{padding:var(--p)}.gps-566867452299314257.gps.gpsil [style*="--pb:"]{padding-bottom:var(--pb)}.gps-566867452299314257.gps.gpsil [style*="--pl:"]{padding-left:var(--pl)}.gps-566867452299314257.gps.gpsil [style*="--pr:"]{padding-right:var(--pr)}.gps-566867452299314257.gps.gpsil [style*="--pt:"]{padding-top:var(--pt)}.gps-566867452299314257.gps.gpsil [style*="--pos:"]{position:var(--pos)}.gps-566867452299314257.gps.gpsil [style*="--right:"]{right:var(--right)}.gps-566867452299314257.gps.gpsil [style*="--ta:"]{text-align:var(--ta)}.gps-566867452299314257.gps.gpsil [style*="--t:"]{transform:var(--t)}.gps-566867452299314257.gps.gpsil [style*="--w:"]{width:var(--w)}.gps-566867452299314257.gps.gpsil [style*="--z:"]{z-index:var(--z)}.gps-566867452299314257.gps.gpsil [style*="--line-clamp:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp);display:-webkit-box;overflow:hidden}@media only screen and (max-width:1024px){.gps-566867452299314257.gps.gpsil [style*="--aspect-tablet:"]{aspect-ratio:var(--aspect-tablet)}.gps-566867452299314257.gps.gpsil [style*="--size-tablet:"]{font-size:var(--size-tablet)}.gps-566867452299314257.gps.gpsil [style*="--h-tablet:"]{height:var(--h-tablet)}.gps-566867452299314257.gps.gpsil [style*="--lh-tablet:"]{line-height:var(--lh-tablet)}.gps-566867452299314257.gps.gpsil [style*="--op-tablet:"]{opacity:var(--op-tablet)}.gps-566867452299314257.gps.gpsil [style*="--pb-tablet:"]{padding-bottom:var(--pb-tablet)}.gps-566867452299314257.gps.gpsil [style*="--pl-tablet:"]{padding-left:var(--pl-tablet)}.gps-566867452299314257.gps.gpsil [style*="--pr-tablet:"]{padding-right:var(--pr-tablet)}.gps-566867452299314257.gps.gpsil [style*="--pt-tablet:"]{padding-top:var(--pt-tablet)}.gps-566867452299314257.gps.gpsil [style*="--pos-tablet:"]{position:var(--pos-tablet)}.gps-566867452299314257.gps.gpsil [style*="--w-tablet:"]{width:var(--w-tablet)}.gps-566867452299314257.gps.gpsil [style*="--z-tablet:"]{z-index:var(--z-tablet)}.gps-566867452299314257.gps.gpsil [style*="--line-clamp-tablet:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-tablet);display:-webkit-box;overflow:hidden}}@media only screen and (max-width:767px){.gps-566867452299314257.gps.gpsil [style*="--aspect-mobile:"]{aspect-ratio:var(--aspect-mobile)}.gps-566867452299314257.gps.gpsil [style*="--bga-mobile:"]{background-attachment:var(--bga-mobile)}.gps-566867452299314257.gps.gpsil [style*="--bgc-mobile:"]{background-color:var(--bgc-mobile)}.gps-566867452299314257.gps.gpsil [style*="--bgi-mobile:"]{background-image:var(--bgi-mobile)}.gps-566867452299314257.gps.gpsil [style*="--bgp-mobile:"]{background-position:var(--bgp-mobile)}.gps-566867452299314257.gps.gpsil [style*="--bgr-mobile:"]{background-repeat:var(--bgr-mobile)}.gps-566867452299314257.gps.gpsil [style*="--bgs-mobile:"]{background-size:var(--bgs-mobile)}.gps-566867452299314257.gps.gpsil [style*="--bottom-mobile:"]{bottom:var(--bottom-mobile)}.gps-566867452299314257.gps.gpsil [style*="--size-mobile:"]{font-size:var(--size-mobile)}.gps-566867452299314257.gps.gpsil [style*="--gtc-mobile:"]{grid-template-columns:var(--gtc-mobile)}.gps-566867452299314257.gps.gpsil [style*="--h-mobile:"]{height:var(--h-mobile)}.gps-566867452299314257.gps.gpsil [style*="--lh-mobile:"]{line-height:var(--lh-mobile)}.gps-566867452299314257.gps.gpsil [style*="--mb-mobile:"]{margin-bottom:var(--mb-mobile)}.gps-566867452299314257.gps.gpsil [style*="--op-mobile:"]{opacity:var(--op-mobile)}.gps-566867452299314257.gps.gpsil [style*="--pb-mobile:"]{padding-bottom:var(--pb-mobile)}.gps-566867452299314257.gps.gpsil [style*="--pl-mobile:"]{padding-left:var(--pl-mobile)}.gps-566867452299314257.gps.gpsil [style*="--pr-mobile:"]{padding-right:var(--pr-mobile)}.gps-566867452299314257.gps.gpsil [style*="--pt-mobile:"]{padding-top:var(--pt-mobile)}.gps-566867452299314257.gps.gpsil [style*="--pos-mobile:"]{position:var(--pos-mobile)}.gps-566867452299314257.gps.gpsil [style*="--right-mobile:"]{right:var(--right-mobile)}.gps-566867452299314257.gps.gpsil [style*="--w-mobile:"]{width:var(--w-mobile)}.gps-566867452299314257.gps.gpsil [style*="--line-clamp-mobile:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-mobile);display:-webkit-box;overflow:hidden}}.gps-566867452299314257 .gp-relative{position:relative}.gps-566867452299314257 .gp-z-1{z-index:1}.gps-566867452299314257 .\!gp-m-0{margin:0!important}.gps-566867452299314257 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-566867452299314257 .gp-mb-0{margin-bottom:0}.gps-566867452299314257 .gp-inline-block{display:inline-block}.gps-566867452299314257 .gp-flex{display:flex}.gps-566867452299314257 .gp-inline-flex{display:inline-flex}.gps-566867452299314257 .gp-grid{display:grid}.gps-566867452299314257 .gp-contents{display:contents}.gps-566867452299314257 .\!gp-hidden{display:none!important}.gps-566867452299314257 .gp-hidden{display:none}.gps-566867452299314257 .gp-h-auto{height:auto}.gps-566867452299314257 .gp-h-full{height:100%}.gps-566867452299314257 .gp-w-full{width:100%}.gps-566867452299314257 .gp-max-w-full{max-width:100%}.gps-566867452299314257 .gp-flex-none{flex:none}.gps-566867452299314257 .gp-shrink-0{flex-shrink:0}.gps-566867452299314257 .gp-grid-rows-\[1fr\]{grid-template-rows:1fr}.gps-566867452299314257 .gp-flex-col{flex-direction:column}.gps-566867452299314257 .gp-items-center{align-items:center}.gps-566867452299314257 .gp-justify-center{justify-content:center}.gps-566867452299314257 .gp-text-g-text-3{color:var(--g-c-text-3)}.gps-566867452299314257 .gp-no-underline{text-decoration-line:none}.gps-566867452299314257 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-566867452299314257 .gp-duration-200{transition-duration:.2s}.gps-566867452299314257 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-566867452299314257 .disabled\:gp-btn-disabled:disabled{cursor:default}.gps-566867452299314257 .disabled\:gp-opacity-30:disabled{opacity:.3}.gps-566867452299314257 .gp-group[data-state=loading] .group-data-\[state\=loading\]\:gp-invisible{visibility:hidden}@media (max-width:1024px){.gps-566867452299314257 .tablet\:\!gp-hidden{display:none!important}.gps-566867452299314257 .tablet\:gp-hidden{display:none}.gps-566867452299314257 .tablet\:gp-h-auto{height:auto}.gps-566867452299314257 .tablet\:gp-flex-none{flex:none}}@media (max-width:767px){.gps-566867452299314257 .mobile\:\!gp-hidden{display:none!important}.gps-566867452299314257 .mobile\:gp-hidden{display:none}.gps-566867452299314257 .mobile\:gp-h-auto{height:auto}.gps-566867452299314257 .mobile\:gp-flex-none{flex:none}}.gps-566867452299314257 .\[\&\>svg\]\:\!gp-h-\[var\(--height-desktop\)\]>svg{height:var(--height-desktop)!important}.gps-566867452299314257 .\[\&\>svg\]\:\!gp-w-auto>svg{width:auto!important}@media (max-width:1024px){.gps-566867452299314257 .tablet\:\[\&\>svg\]\:\!gp-h-\[var\(--height-tablet\)\]>svg{height:var(--height-tablet)!important}}@media (max-width:767px){.gps-566867452299314257 .mobile\:\[\&\>svg\]\:\!gp-h-\[var\(--height-mobile\)\]>svg{height:var(--height-mobile)!important}}.gps-566867452299314257 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}</style>
    
  
    
    
    

    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}

    
        <section
          class="gp-mx-auto gp-max-w-full [&_*]:gp-max-w-full {% if section.settings.section_preload == "false" %}gps-lazy {% endif %}"
          style="--w:calc(var(--g-ct-w, 1200px) + 2 * var(--g-ct-p, 15px));--w-tablet:calc(var(--g-ct-w, 100%) + 2 * var(--g-ct-p, 15px));--w-mobile:calc(var(--g-ct-w, 100%) + 2 * var(--g-ct-p, 15px))"
        >
          
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"#242424","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color"},"mobile":{"attachment":"scroll","color":"#fdf5f4","image":{"height":0,"src":"","width":0},"loop":"","position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color","video":"","videoHtml5":""}},"uid":"gluDITUdZE"}' data-id="gluDITUdZE" id="gluDITUdZE" data-same-height-subgrid-container class="gluDITUdZE gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--blockPadding:base;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:none;--d-mobile:grid;--d-tablet:none;--op:100%;--op-mobile:100%;--op-tablet:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--pt:80px;--pl:20px;--pb:56px;--pr:20px;--pt-mobile:42px;--pl-mobile:20px;--pb-mobile:42px;--pr-mobile:20px;--cg:32px;--gtc:minmax(0, 12fr);--bgc:#242424;--bgc-mobile:#fdf5f4;--bgi:url();--bgi-mobile:url();--bgp:50% 50%;--bgp-mobile:50% 50%;--bgs:cover;--bgs-mobile:cover;--bgr:no-repeat;--bgr-mobile:no-repeat;--bga:scroll;--bga-mobile:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="giCmV2opfJ gp-relative gp-flex gp-flex-col"
    >
      
    

    

    
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"transparent","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color"}},"uid":"gcPi-g7ZLf"}' data-id="gcPi-g7ZLf" id="gcPi-g7ZLf" data-same-height-subgrid-container class="gcPi-g7ZLf gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--cg:8px;--gtc:minmax(0, 12fr);--gtc-mobile:minmax(0, 12fr);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="gsjp_iI4pO gp-relative gp-flex gp-flex-col"
    >
      
    <div
      role="presentation"
      data-id="gml-TIR0uq"
      style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb-mobile:10px;--ta:center"
      class="gp-group/image gp-relative force-publish-1765454909420 gp-flex-none gp-h-auto mobile:gp-flex-none mobile:gp-h-auto tablet:gp-flex-none tablet:gp-h-auto gml-TIR0uq"
    >
      <div
        
        style="border-radius:inherit;--jc:center"
        class="gp-h-full gp-w-full gp-flex pointer-events-auto"
      >
        
    <picture style="border-radius:inherit" class="gp-contents">
      
      <source media="(max-width: 767px)" data-srcSet="{{ "gempages_510135694635565882-c148b6db-9284-4c1e-98df-cd7cd9dc3a62.png" | file_url }}" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTIwMCIgaGVpZ2h0PSIxMjAwIiB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPgogICAgPGRlZnM+CiAgICAgIDxsaW5lYXJHcmFkaWVudCBpZD0iZy0xMjAwLTEyMDAiPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iMjAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNTAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNzAlIiAvPgogICAgICA8L2xpbmVhckdyYWRpZW50PgogICAgPC9kZWZzPgogICAgPHJlY3Qgd2lkdGg9IjEyMDAiIGhlaWdodD0iMTIwMCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMTIwMCIgaGVpZ2h0PSIxMjAwIiBmaWxsPSJ1cmwoI2ctMTIwMC0xMjAwKSIgLz4KICAgIDxhbmltYXRlIHhsaW5rOmhyZWY9IiNyIiBhdHRyaWJ1dGVOYW1lPSJ4IiBmcm9tPSItMTIwMCIgdG89IjEyMDAiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" />
      <source media="(max-width: 1024px)" data-srcSet="https://placehold.co/2237x1678?text=Image" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjIzNyIgaGVpZ2h0PSIxNjc4IiB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPgogICAgPGRlZnM+CiAgICAgIDxsaW5lYXJHcmFkaWVudCBpZD0iZy0yMjM3LTE2NzgiPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iMjAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNTAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNzAlIiAvPgogICAgICA8L2xpbmVhckdyYWRpZW50PgogICAgPC9kZWZzPgogICAgPHJlY3Qgd2lkdGg9IjIyMzciIGhlaWdodD0iMTY3OCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMjIzNyIgaGVpZ2h0PSIxNjc4IiBmaWxsPSJ1cmwoI2ctMjIzNy0xNjc4KSIgLz4KICAgIDxhbmltYXRlIHhsaW5rOmhyZWY9IiNyIiBhdHRyaWJ1dGVOYW1lPSJ4IiBmcm9tPSItMjIzNyIgdG89IjIyMzciIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" />
    
      
      <img
        base-src="https://placehold.co/2237x1678?text=Image" quality-type="{}" quality-percent="{}"
        src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjIzNyIgaGVpZ2h0PSIxNjc4IiB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPgogICAgPGRlZnM+CiAgICAgIDxsaW5lYXJHcmFkaWVudCBpZD0iZy0yMjM3LTE2NzgiPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iMjAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNTAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNzAlIiAvPgogICAgICA8L2xpbmVhckdyYWRpZW50PgogICAgPC9kZWZzPgogICAgPHJlY3Qgd2lkdGg9IjIyMzciIGhlaWdodD0iMTY3OCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMjIzNyIgaGVpZ2h0PSIxNjc4IiBmaWxsPSJ1cmwoI2ctMjIzNy0xNjc4KSIgLz4KICAgIDxhbmltYXRlIHhsaW5rOmhyZWY9IiNyIiBhdHRyaWJ1dGVOYW1lPSJ4IiBmcm9tPSItMjIzNyIgdG89IjIyMzciIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" data-src="https://placehold.co/2237x1678?text=Image"
        alt=""
        width="100%"
        style="--aspect:auto;--aspect-tablet:auto;--aspect-mobile:auto;--objf:cover;--w-mobile:100px;--h:auto;--h-tablet:auto;--h-mobile:auto;--b:none;--bc:#000000;--bw:1px 1px 1px 1px;--radiusType:none;--shadow:none"
        class="gp-inline-block gp-w-full gp-max-w-full gp_lazyload"
      />
    
    </picture>
  
      </div>
    </div>
  
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="g0Oe_LWzsN"
        class="g0Oe_LWzsN"
        style="--ta:center;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--op-mobile:100%;--op-tablet:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb-mobile:14px;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:center">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--ta:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-body, body);--weight:400;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--ls:normal;--c:#151515;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.gg0Oe_LWzsN_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    </div>

      
    </gp-row>
  
  
    

    

    
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"#00000000","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color"},"mobile":{"attachment":"scroll","color":"#00000000","image":{"height":0,"src":"","width":0},"loop":"","position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color","video":""}},"uid":"gOyx_1S2He"}' data-id="gOyx_1S2He" id="gOyx_1S2He" data-same-height-subgrid-container class="gOyx_1S2He gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:none;--bw:1px 1px 1px 1px;--bc:#F1F3F4;--bottom:64px;--bottom-mobile:42px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--op-mobile:100%;--op-tablet:100%;--pageType:GP_STATIC;--pos:fixed;--pos-tablet:fixed;--right:29px;--right-mobile:20px;--bblr:6px;--bbrr:6px;--btlr:6px;--btrr:6px;--z:2;--cg:8px;--gtc:minmax(0, 12fr);--w:63px;--w-mobile:38px;--bgc:#00000000;--bgc-mobile:#00000000;--bgi:url();--bgi-mobile:url();--bgp:50% 50%;--bgp-mobile:50% 50%;--bgs:cover;--bgs-mobile:cover;--bgr:no-repeat;--bgr-mobile:no-repeat;--bga:scroll;--bga-mobile:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="g_6B5zWvaD gp-relative gp-flex gp-flex-col"
    >
      
    <gp-button
      gp-data='{"btnLink":{"link":"#gpTc_gE02A","selectedTab":"scrollToList","target":"_self","title":"Section"}}'
      style="--bottom:64px;--pos:static;--pos-mobile:static;--pos-tablet:fixed;--right:29px;--z-tablet:1"
      class="gp-flex gp-flex-col"
    >
      <div style="--bs:solid;--bw:1px 1px 1px 1px;--bc:#F1F3F4;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--op-mobile:100%;--op-tablet:100%;--pageType:GP_STATIC;--bblr:6px;--bbrr:6px;--btlr:6px;--btrr:6px;--ta:center" >
        <style>[data-id="gxPX8SxpTi"].gp-button-base::before, [data-id="gxPX8SxpTi-interaction"].gp-button-base::before {
      
    content: "";
    height: 100%;
    width: 100%;
    position: absolute;
    pointer-events: none;
    top: 0;
    left: 0;
    
    
  
    }
  
      
  [data-id="gxPX8SxpTi"]:hover::before, [data-id="gxPX8SxpTi-interaction"]:hover::before {
    
    
  }</style>
        <a
            class="gp-trigger-button-link gp-hidden"
            href=#gpTc_gE02A
            target=_self
          ></a>
        <button
          data-id="gxPX8SxpTi" dataId="gxPX8SxpTi" data-state="idle" aria-label
          
          href="#gpTc_gE02A" target="_self" type="button"
          style="--w:61px;--w-tablet:Auto;--w-mobile:36px;--h:;--h-tablet:Auto;--h-mobile:;--pl:auto;--pr:auto;--pt:17px;--pb:17px;--pl-tablet:12px;--pr-tablet:12px;--pt-tablet:12px;--pb-tablet:12px;--pl-mobile:auto;--pr-mobile:auto;--pt-mobile:10px;--pb-mobile:10px;--shadow:none;--bgi:;--fs:normal;--ff:var(--g-font-body, body);--weight:400;--size:27px;--size-tablet:25px;--size-mobile:16px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--ls:normal"
          class="gxPX8SxpTi gp-button-base gp-group gp-relative gp-inline-flex gp-max-w-full gp-items-center gp-justify-center gp-no-underline gp-transition-colors gp-duration-200 disabled:gp-btn-disabled disabled:gp-opacity-30 gp-text-g-text-3 "
        >
        
        <div class="gp-inline-flex">
          
    <span
      style="--fs:normal;--ff:var(--g-font-body, body);--weight:400;--size:27px;--size-tablet:25px;--size-mobile:16px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--ls:normal;word-break:break-word;--mr:8px;--height-desktop:1em;--height-tablet:1em;--height-mobile:1em"
      class="!gp-m-0 gp-button-icon gp-z-1 gp-inline-flex gp-shrink-0 gp-items-center gp-justify-center group-data-[state=loading]:gp-invisible [&>svg]:!gp-h-[var(--height-desktop)] [&>svg]:!gp-w-auto tablet:[&>svg]:!gp-h-[var(--height-tablet)] mobile:[&>svg]:!gp-h-[var(--height-mobile)]"
    >
      <svg data-id="516939529479783574" xmlns="http://www.w3.org/2000/svg" width="27" height="27" viewBox="0 0 27 27" fill="none">
<path fill-rule="evenodd" clip-rule="evenodd" d="M1.6875 13.5C1.6875 16.6329 2.93203 19.6374 5.1473 21.8527C7.36257 24.068 10.3671 25.3125 13.5 25.3125C16.6329 25.3125 19.6374 24.068 21.8527 21.8527C24.068 19.6374 25.3125 16.6329 25.3125 13.5C25.3125 10.3671 24.068 7.36257 21.8527 5.1473C19.6374 2.93203 16.6329 1.6875 13.5 1.6875C10.3671 1.6875 7.36257 2.93203 5.1473 5.1473C2.93203 7.36257 1.6875 10.3671 1.6875 13.5ZM27 13.5C27 17.0804 25.5777 20.5142 23.0459 23.0459C20.5142 25.5777 17.0804 27 13.5 27C9.91958 27 6.4858 25.5777 3.95406 23.0459C1.42232 20.5142 0 17.0804 0 13.5C0 9.91958 1.42232 6.4858 3.95406 3.95406C6.4858 1.42232 9.91958 0 13.5 0C17.0804 0 20.5142 1.42232 23.0459 3.95406C25.5777 6.4858 27 9.91958 27 13.5ZM14.3438 19.4062C14.3438 19.63 14.2549 19.8446 14.0966 20.0029C13.9384 20.1611 13.7238 20.25 13.5 20.25C13.2762 20.25 13.0616 20.1611 12.9034 20.0029C12.7451 19.8446 12.6562 19.63 12.6562 19.4062V9.63056L9.03487 13.2536C8.87644 13.4121 8.66156 13.5011 8.4375 13.5011C8.21344 13.5011 7.99856 13.4121 7.84013 13.2536C7.68169 13.0952 7.59268 12.8803 7.59268 12.6562C7.59268 12.4322 7.68169 12.2173 7.84013 12.0589L12.9026 6.99638C12.981 6.9178 13.0741 6.85546 13.1766 6.81292C13.2791 6.77039 13.389 6.74849 13.5 6.74849C13.611 6.74849 13.7209 6.77039 13.8234 6.81292C13.9259 6.85546 14.019 6.9178 14.0974 6.99638L19.1599 12.0589C19.3183 12.2173 19.4073 12.4322 19.4073 12.6562C19.4073 12.8803 19.3183 13.0952 19.1599 13.2536C19.0014 13.4121 18.7866 13.5011 18.5625 13.5011C18.3384 13.5011 18.1236 13.4121 17.9651 13.2536L14.3438 9.63056V19.4062Z" fill="white"/>
</svg>
    </span>
  
          
        </div>
        
        </button>
      </div>
      <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://assets.gemcommerce.com/assets-v2/gp-button-v7-5.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
    </gp-button>
  
      <style id="custom-css-gxPX8SxpTi">
        button.gxPX8SxpTi {

}
      </style>
    
    </div>

      
    </gp-row>
  
  
    </div>

      
    </gp-row>
  
        </section>
      
  
    
{% schema %}
  {
    
    "name": "Section 25",
    "tag": "section",
    "class": "gps-566867452299314257 gps gpsil",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/39c3e2-72/apps/gempages-cro/app/shopify/edit?pageType=GP_STATIC&editorId=566867452013577297&sectionId=566867452299314257)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"false"},{"type":"text","label":"Checksum","id":"checksum"},{"type":"html","id":"gg0Oe_LWzsN_text","label":"gg0Oe_LWzsN_text","default":"<p>Copyright © 2025 Olora.&nbsp;</p>"}],
    "blocks": [{"type": "@app"}],
    "locales": {}
  }
{% endschema %}